/**************************************************
 FONT SIZE
**************************************************/

@mixin font-size($pixels) {
  font-size: #{$pixels}px;
  font-size: #{$pixels/$base-size}rem;
}

/**************************************************
 HI-RES BACKGROUND IMAGES
**************************************************/

@mixin hires($sm-image, $lg-image) {
  background-image: url($sm-image);
  @media (-webkit-min-device-pixel-ratio: 1.3),(min-resolution: 124.8dpi) {
    background-image: url($lg-image);
    background-size: image-width($sm-image) image-height($sm-image);
  }
}

/**************************************************
 BREAK POINTS
**************************************************/

$x-small:  400;
$small:    600;
$medium:   800;
$large:    1000;
$x-large:  1200;

@mixin break-up($point) {
  @media screen and (min-width: pem($point)) { @content; }
}

@mixin break-down($point) {
  @media screen and (max-width: pem($point - 1)) { @content; }
}
