/**************************************************
 FONT SIZE
**************************************************/

@mixin font-size($pixels) {
  font-size: #{$pixels}px;
  font-size: #{$pixels/$base-size}rem;
}

/**************************************************
 HI-RES BACKGROUND IMAGES
**************************************************/

@mixin image-2x($lg-image, $height, $width) {
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
    background-image: url($lg-image);
    background-size: $width $height;
  }
}

/**************************************************
 BUTTON STYLES
**************************************************/

@mixin button($color: $button-bg) {
  @include border-radius(.5em);
  @include font-size(24);
  display: block;
  padding: .5em 1em;
  background-color: $color;
  border: 1px solid darken($color, 10%);
  color: $button-text;
  font-family: $button-font;
  font-weight: 700;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  &:hover, 
  &:focus {
    background-color: lighten($color, 10%);
    border-color: $color;
    color: $button-text;
  }
}

/**************************************************
 BREAK POINTS
**************************************************/

$x-small:  400;
$small:    600;
$medium:   800;
$large:    1000;
$x-large:  1200;

@mixin break-up($point) {
  @media screen and (min-width: pem($point)) { @content; }
}

@mixin break-down($point) {
  @media screen and (max-width: pem($point - 1)) { @content; }
}

/**************************************************

 BORDER IMAGE

 Example
 @include border-image(url(../my_image.png), 12px, 10, repeat);
 @include border-image(url(../my_image.png), 12px, 10 5 15 20, stretch repeat);

**************************************************/
    
@mixin border-image($url, $offsets, $repeats)  {
	border-color: transparent;
	border-style: solid;
  @include experimental("border-image", $url $offsets $repeats,  -moz, not -webkit, -o, -ms, -khtml, official);
}