/**************************************************
 FONT STACKS
**************************************************/

$sans-serif: 'Helvetica Neue', Helmet, Freesans, sans-serif;
$monospace: 'courier new', monospace, serif;

/**************************************************
 FONTS IN USE
**************************************************/

$body-font: $sans-serif;
$headline-font: $sans-serif;
$label-font: $sans-serif;
$nav-font: $sans-serif;
$button-font: $sans-serif;

$code-font: $monospace;

/**************************************************
 COLORS
**************************************************/

$black: #1a1a1a;
$dk-gray: #333;
$md-gray: #666;
$gray: #999;
$lt-gray: #ccc;
$x-lt-gray: #e6e6e6;
$white: #fff;

/**************************************************
 COLORS IN USE
**************************************************/

// Base Colors

$selection-text: $white;
$selection-bg: $dk-gray;

$body-text: $black;
$body-bg: $white;

$link-color: $md-gray;
$link-hover: $gray;

$border-color: $lt-gray;

// Form Colors

$form-field-color: $white;
$form-field-focus: $white;

// Button Colors

$button-text: $white;
$button-bg: $black;
$button-hover: $dk-gray;

// Header Colors

$header-bg: $lt-gray;
$header-link-color: $black;
$header-link-hover: $dk-gray;

$nav-toggle-text: $white;
$nav-toggle-bg: $md-gray;
$nav-toggle-hover: $dk-gray;

$narrow-nav-text: $dk-gray;
$narrow-nav-bg: $lt-gray;
$narrow-nav-hover: $gray;
$narrow-nav-border: $gray;

$nav-link-color: $dk-gray;
$nav-link-hover: $md-gray;

// Card Colors

$card-bg-color: $white;
$card-bg-hover: $x-lt-gray;
$card-border-color: $lt-gray;
$card-border-hover: $gray;

// Slider Colors

$slide-marker: $md-gray;
$slide-marker-hover: $md-gray;
$slide-marker-active: $white;
$slide-direction-text: $white;
$slide-direction-button: $dk-gray;
$slide-direction-hover: $black;

// Footer Colors

$footer-text-color: $gray;

/**************************************************
 SITE SPECIFIC VARIABLES
**************************************************/

$base-size: 10;
$side-padding: 6%;


$down-triangle: '\25BC';
$up-triangle: '\25B2';