/**************************************************
 MAIN SECTION STYLES
**************************************************/

.main {
  position: relative;
  z-index: 2;
  background: $body-bg url("../img/backgrounds/background-tile-01.png") 50% 0 repeat;
  padding: 3em $side-padding 9em;
  @include break-up($medium){
    padding-top: $fixed-top-padding;
  }
}

/**************************************************
 CARD STYLES
**************************************************/

%card-styles {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  li {
    @include font-size(10);
    a {
      @include border-radius;
      @include box-shadow;
      display: block;
      overflow: hidden;
      background-color: $card-bg-color;
      &:hover, 
      &:focus {
        h5 {color:$card-link-hover}
        p {color:$card-link-hover}
        figure img {@include opacity(.75)}
        .summary {background-color: lighten($teal, 57.5%)}
      }
    }
    figure {
      background-color: $card-image-bg;
      img {
        @extend %transition;
      }
    }
    .details {
      padding: 1em 1.5em;
    }
    h5 {
      overflow: hidden;
      margin: 0;
      padding: .125em 0;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      @include font-size(14);
      margin: 0;
      color: $card-link-color;
    }
    svg {
      @include inline-block(middle);
      height: 1em;
      width: 1em;
      margin-right: .25em;
    }
  }
}

/**************************************************
 LIST FILTER STYLES
**************************************************/

.filters {
  padding: 1.5em $side-padding;
  background-color: $filters-bar-bg;
  @include break-up($medium){
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 13.5em;
    padding-bottom: 2em;
  }
  p {
    @extend %site-column;
    @include font-size(14);
    margin: 0 auto;
    color: $filters-bar-text;
    font-family: $filters-font;
    text-transform: uppercase;
    @include break-up($medium){
      float: left;
      width: 65%;
    }
  }
  a {
    @include inline-block;
    @include border-radius;
    margin-left: .25em;
    padding: .25em .5em;
    background-color: $filters-bar-link-bg;
    color: $filters-bar-link-text;
    &:hover,&:focus{background-color:$filters-bar-link-hover}
  }
  .select-box {
    margin-top: 1em;
    @include break-up($medium){
      float: right;
      width: 30%;
      margin-top: 0;
    }
    @include break-up($large){
      width: 24em;
    }
  }
}

%filters-main {
  position: relative;
  z-index: 2;
  padding-top: 4em;
  @include break-up($medium){
    margin-top: 18.5em;
  }
}