/**************************************************
 USER PAGE STYLES
**************************************************/

#user {
  .main {
    h1 {
      text-align: center;
    }
    form {
      max-width: 36em;
      margin: 0 auto;
    }
    .login, 
    .sign-up {
      @include break-up($medium){
        @include float;
        width: 50%;
        padding: 0 2.5%;
      }
    }
    .login {
      padding-bottom: 6em;
      margin-bottom: 6em;
      border-bottom: 1px solid $black;
      @include break-up($medium){
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}