/**************************************************
 SELECTION STYLES
**************************************************/

::selection { background: $selection-bg; text-shadow: none; color: $selection-text; }
::-moz-selection { background: $selection-bg; text-shadow: none; color: $selection-text; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

@media only screen and (max-device-width: 480px) {
  html {-webkit-text-size-adjust: none}
  a:link {-webkit-tap-highlight-color: $selection-bg;}
}

/**************************************************
 BASE STYLES
**************************************************/

html {
  font-size: percentage($base-size/16);
}

body {
  @extend %footer-bg;
  font-family: $body-font;
}

body,
input,
select,
textarea {
  color: $body-text;
  font-family: $body-font;
}

section {
  @extend %clearfix;
  padding: 4em $side-padding 8em;
}

.top,
.inner,
.content {
  @extend %site-column;
}

svg {
  @extend %transition;
}