/**************************************************
 LINK STYLES
**************************************************/

a {
  @include transition;
  color: $link-color;
  text-decoration: none;
  &:hover, 
  &:focus {
    color: $link-hover;
  }
}

/**************************************************
 TYPE STYLES
**************************************************/

h1, h2 ,h3, h4, h5, h6 {
  margin: 1em 0;
  color: $headline-text;
  font-family: $headline-font;
  font-weight: 700;
}

h1 {
  @include font-size(36);
  @include break-up($small){
    @include font-size(48);
  }
}

h2 {
  @include font-size(30);
  @include break-up($small){
    @include font-size(36);
  }
}

h3 {
  @include font-size(24);
  @include break-up($small){
    @include font-size(30);
  }
}

h4 {
  @include font-size(20);
  @include break-up($small){
    @include font-size(24);
  }
}

h5, h6 {
  @include font-size(18);
  @include break-up($small){
    @include font-size(20);
  }
}

.title {
  margin: 0 0 .25em;
}

.heading {
  margin: 0 0 1em;
  padding: .25em .75em;
  background-color: $gray;
  color: $white;
}

%base-type {
  @include font-size(14);
  line-height: 1.6;
  @include break-up($small){
    @include font-size(16);
  }
}

p {
  @extend %base-type;
  margin: 0 0 1em;
}

ul, ol {
  @extend %base-type;
  margin: 1em 0 1em 1.5em;
  li {
    margin-bottom: 0.25em;
  }
}
ol { list-style-type: decimal; }
ul { list-style-type: disc; }

blockquote {
  @include font-size(24);
  padding: 1em .5em;
  border: 1px solid $border-color;
  border-left: none;
  border-right: none;
  p {
    font-size: 1em;
    margin: 0;
  }
}

figcaption {
  @include font-size(12);
}

address {
  @extend %base-type;
}

small {
  @include font-size(12);
}

code, 
pre {
  @include font-size(14);
}

span {
  white-space: nowrap;
}