/**************************************************
 FOOTER STYLES
**************************************************/

%footer-bg {
  background-color: $footer-bg;
}

.site-footer {
  @extend %clearfix;
  padding: 6em $side-padding;
  color: $footer-text;
  text-align: center;
  @include break-up($medium){text-align:left}
  a {
    color: $footer-link;
    &:hover,&:focus{color:$footer-hover}
  }
  h1 {
    @include font-size(10);
    margin: 0 auto 1em;
    @include break-up($medium){
      margin: 0 0 .75em;
    }
    a {
      display: block;
      overflow: hidden;
      height: 0;
      width: 18em;
      padding-top: 2.5em;
      margin: 0 auto;
      background-position: 0 0;
      background-repeat: no-repeat;
      @include hires("../img/logo/thetake-footer-logo.png", "../img/logo/thetake-footer-logo-2x.png");
      @include break-up($medium){
        margin: 0;
      }
    }
  }
  ol {
    list-style: none;
    margin: 2em 0;
  }
  li {
    @include inline-block;
    margin: 0;
  }
  .footer-links {
    @include break-up($medium){
      float: left;
      width: 60%;
    }
  }
  .legal-links {
    li {
      @include font-size(16);
      font-family: $nav-font;
      font-weight: 300;
      &:before {
        content: '\007C';
        margin: 0 .5em;
        color: $footer-border;
      }
      &:first-child:before {
        display: none;
      }
    }
  }
  .social-links {
    li {
      @include font-size(10);
      margin: 0 .5em;
      @include break-up($medium){
        margin: 0 1em 0 0;
      }
    }
    a {
      display: block;
      color: $footer-icon;
      &:hover,
      &:focus {
        color: $footer-hover;
      }
      svg{
        height: 2em;
        width: 2em;
      }
    }
    &.youtube {
      a svg { width: 2.2em }
    }
  }
  .mailing-list {
    margin-bottom: 4.5em;
    padding-top: 3em;
    border-top: 1px solid $footer-border;
    @include break-up($medium){
      @include float(right);
      width: 30%;
      margin-bottom: 3em;
      padding-top: 0;
      border-top: none;
      text-align: center;
    }
    h5 {
      margin: 0 0 1em;
      color: $footer-text;
    }
    form {
      display: block;
      max-width: 270px;
      margin: 0 auto;
      @include break-up($medium){max-width:none}
    }
    input {
      @include font-size(14);
      margin: 0;
      &[type='email']{
        background: $x-lt-gray;
        margin-bottom: .75em;
      }
    }
  }
  small {
    display: block;
    clear: right;
    @include break-up($medium){
      @include float(right);
      width: 30%;
      text-align: center;
    }
  }
}