/**************************************************
 NAVIGATION STYLES
**************************************************/

nav {
  ol {list-style:none;margin:0}
  li {margin:0;line-height:1}
}

/**************************************************
 HEADER NAVIGATION STYLES
**************************************************/

.site-header {
  nav {
    clear: both;
    text-align: center;
    @include break-up($medium){
      float: left;
      margin-top: 0;
      padding: 0;
      background-color: transparent;
      border: none;
    }
  }
  .site-nav {
    @include break-up($medium){
      margin-top: .625em;
    }
    @include break-up($large){
      margin-top: .5em;
    }
    li {
      @include inline-block;
      @include font-size(14);
      margin: .125em .025em;
      font-weight: 500;
      text-transform: uppercase;
      @include break-up($medium){
        @include font-size(16);
        display: block;
        float: left;
        margin: 0 0 0 1.5em;
        font-weight: 700;
        &.insights {margin-left:0}
      }
      @include break-up($large){
        @include font-size(18);
      }
      &.subscribe {
        @include break-up($medium){display:none}
      }
    }
    a {
      @include border-radius(.5em);
      display: block;
      padding: .5em .75em;
      background-color: $narrow-nav-bg;
      color: $narrow-nav-text;
      text-align: center;
      white-space: nowrap;
      @include break-up($medium){
        @include border-radius(0);
        padding: 0;
        background-color: transparent;
        color: $nav-link-text;
      }
      &:hover,&:focus {
        color: $narrow-nav-text;
        @include break-up($medium){
          color: $nav-link-hover;
        }
      }
    }
  }
}