/**************************************************
 FOOTER STYLES
**************************************************/

%footer-bg {
  background-color: $footer-bg;
}

footer {
  padding: 3em $side-padding 4em;
  text-align: center;
  h2 {
    margin: 0 0 .5em;
  }
  nav {
    ol {
      list-style: none;
      margin: 0;
    }
    li {
      @include inline-block;
      margin: 0 .5em;
      .generatedcontent & {
        margin: 0;
        &:before {
          content: $vertical-bar;
          margin: 0 .5em;
        }
        &:first-child:before {
          display: none;
        }
      }
    }
  }
}