/**************************************************
 HEADER STYLES
**************************************************/

.site-header {
  background-color: $header-bg;
  @include break-up($medium){
    @include box-shadow(0 0 10px transparentize($black, .5));
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
  }
  .top {
    @extend %site-column;
    @include box-sizing(content-box);
    overflow: hidden;
    @include break-up($medium){
      padding: 1.5em $side-padding;
    }
  }
  h1 {
    @include font-size(10);
    position: relative;
    height: 9em;
    margin: 0;
    text-align: center;
    @include break-up($medium){
      @include float;
      position: static;
      height: auto;
      margin-left: -4.75em;
    }
    a {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 0;
      width: 22.5em;
      padding-top: 5em;
      margin-top: -2.5em;
      margin-left: -13em;
      background-position: 0 0;
      background-repeat: no-repeat;
      @include hires("../img/logo/screenprism-header-logo.png", "../img/logo/screenprism-header-logo-2x.png");
      @include break-up($medium){
        position: static;
        margin: 0;
      }
    }
  }
}

.search-bar {
  overflow: hidden;
  @include break-up($medium){
    @include float(right);
    width: 70%;
    margin: .5em 0;
  }
  @include break-up($large){width:75%}
  @include break-up($x-large){width:80%}
  input[type='text']{
    @include float;
    @include border-radius(0);
    @include font-size(16);
    height: 2.5em;
    width: 75%;
    margin: 0;
    padding: .625em 0 .625em $side-padding;
    border-bottom: 1px solid $search-input-border;
    @include break-up($medium){
      @include border-left-radius;
      padding-left: 1em;
      border: 1px solid $search-input-border;
      border-right: none;
    }
    @include break-up($large){
      width: 80%;
    }
  }
  button{
    @include float;
    @include border-radius(0);
    @include font-size(16);
    height: 2.5em;
    width: 25%;
    margin: 0;
    border-bottom: 1px solid $search-button-border;
    text-align: center;
    @include break-up($medium){
      @include border-right-radius;
      border: 1px solid $search-button-border;
    }
    @include break-up($large){
      width: 20%;
    }
    svg {
      @include inline-block;
      width: (20/16)+em;
      margin: 0 .5em;;
      fill: #fff;
      .ltie9 & {
        display: none;
      }
    }
    span {
      display: none;
      margin: 0 .5em;
      .ltie9 & {
        display: inline;
      }
    }
  }
}