/**************************************************
 HEADER STYLES
**************************************************/

header {
  position: relative;
  padding: 3em $side-padding;
  @include break-up($medium){
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 60px 30px 90px;
    width: 240px;
  }
  h1 {
    margin: 0;
    text-align: center;
    @include break-up($x-small){
      text-align: center;
    }
    @include break-up($medium){
      margin-bottom: 1em;
      text-align: left;
    }
    a {
      color: $header-link-color;
      &:hover, 
      &:focus {
        color: $header-link-hover;
      }
    }
  }
}