/**************************************************
 HEADER STYLES
**************************************************/

.site-header {
  position: relative;
  z-index: 10;
  background-color: $header-bg;
  @include break-up($large){
    position: absolute;
    top:0px;left:0;right:0;
    &.smallheader {position:fixed;top:-150px}
    &.fixedheader {top:0;}
  }
  .header-top {
    @extend %clearfix;
    @include break-up($medium){
      padding: 0 $side-padding;
    }
  }
  h1 {
    @include font-size(10);
    position: relative;
    height: 10em;
    margin: 0;
    text-align: center;
    @include break-up($medium){
      float: left;
      height: 6.4em;
      margin-left: -3em;
    }
    @include break-up($large){height:7.2em}
    a {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 0;
      width: 21.5em;
      padding-top: 5em;
      margin-top: -2.5em;
      margin-left: -12.5em;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      @include hires("../img/logo/screenprism-header-logo.png", "../img/logo/screenprism-header-logo-2x.png");
      @include break-up($medium){
        position: static;
        width: 24em;
        margin: 0;
        padding-top: 6.4em;
        &:hover,&:focus {background-color:$nav-link-hover-bg}
      }
      @include break-up($large){padding-top:7.2em}
    }
  }
  &.smallheader {
    @include break-up($large){
      @include box-shadow(0 0 10px $header-shadow);
      overflow: hidden;
      padding: 0 $side-padding;
      border-bottom: 1px solid $header-border;
      .header-top {padding:0}
      .header-top:before,
      .header-top:after {content:none}
      .mailing-list,
      .social-links {display:none}
      nav {float:left;margin:0}
      h1 a {
        width: 6em;
        @include hires("../img/logo/screenprism-header-icon.png", "../img/logo/screenprism-header-icon-2x.png");
      }
      .search-bar {
        clear: none;
        float: right;
        width: 48.75%;
        padding: 1.5em 0 0;
        background-color: transparent;
        @include break-up(1200){
          position: absolute;
          width: 60em;
          right: 50%;
          margin-right: -54em;
        }
      }
    }
  }
}

/**************************************************
 HEADER MAILING LIST STYLES
**************************************************/

.mailing-list {
  .site-header & {
    @include break-up($small){
      float: right;
      width: 25%;
    }
    @include break-up($medium){
      position: relative;
      width: auto;
      margin-top: 1.5em;
    }
    @include break-up($large){
      margin-top: 1.5em;
    }
    a {
      @include font-size(16);
      display: block;
      padding: .75em 1em;
      background-color: $header-button-bg;
      color: $header-button-text;
      font-family: $button-font;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      @include break-up($small){
        @include border-radius;
        display: block;
        padding: .5em .75em;
        text-transform: none;
        &:hover, &:focus {
          background-color: $header-button-hover-bg;
          color: $header-button-text;
        }
      }
      @include break-up($medium){
        border: 1px solid $header-button-border;
      }
      @include break-up($large){
        padding: .75em 1em;
      }
    }
    .form-wrapper {
      @extend %transition;
      @include opacity(0);
      @include border-radius;
      @include box-shadow;
      overflow: hidden;
      position: absolute;
      top: 1em;
      right: -1.5em;
      max-height: 0;
      width: 25em;
      &.open {
        @include opacity(1);
        top: 3em;
        max-height: 50em;
        @include break-up($large){top:4em}
      }
      form {
        @include border-radius(0);
        @include box-shadow(none);
      }
      input[type="submit"]{
        @include font-size(16);
        margin-top: 0;
      }
    }
  }
}

/**************************************************
 HEADER SOCIAL LINKS
**************************************************/

.social-links {
  .site-header & {
    list-style: none;
    display: none;
    float: right;
    margin: 2.25em .5em 0 0;
    text-align: right;
    @include break-up($large){display:block}
    li {
      @include inline-block;
      @include font-size(10);
      width: 2.7em;
      margin: 0 1.5em 0 0;
      a {
        color: $white;
        &:hover,&:focus {
          color: lighten($purple,50%);
        }
      }
    }
  }
}

/**************************************************
 HEADER MAILING LIST STYLES
**************************************************/

.search-bar {
  @include border-radius(0);
  @include box-shadow(none);
  clear: both;
  overflow: hidden;
  padding: .75em;
  background-color: $search-bg;
  @include break-up($small){
    padding: 1em $side-padding;
  }
  form {
    @extend %site-column;
    @include border-radius(0);
    padding: 0;
    background-color: transparent;
  }
  input[type="text"]{
    @include border-right-radius(0);
    @include font-size(16);
    float: left;
    height: 2.5em;
    width: 75%;
    margin: 0;
    padding: .75em 1em;
    border-color: darken($black, 5%);
    border: none;
    @include break-up($large){width:80%}
  }
  button{
    @include border-left-radius(0);
    @include box-shadow(none);
    @include font-size(16);
    float: left;
    height: 2.5em;
    width: 25%;
    margin: 0;
    border: none;
    background-color: $search-button-bg;
    color: $search-button-text;
    text-align: center;
    @include break-up($large){width:20%}
    &:hover,&:focus {background-color:darken($search-button-bg,5%)}
    svg {
      @include inline-block(top);
      width: 1.25em;
      margin: 0 .5em;;
      .ltie9 & {display:none}
    }
    span {display:none;
      .ltie9 & {display:inline}
    }
  }
}