/**************************************************
 HEADER STYLES
**************************************************/

header {
  position: relative;
  background-color: $header-bg;
  padding: 3em $side-padding;
  @include break-up($medium){
    padding: 8em $side-padding 2em;
  }
  h1 {
    margin: 0;
    text-align: center;
    @include break-up($medium){
      @include float;
      text-align: left;
    }
    a {
      color: $header-link-color;
      &:hover, 
      &:focus {
        color: $header-link-hover;
      }
    }
  }
}

.search-bar {
  overflow: hidden;
  header & {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 5px solid $black;
    @include break-up($medium){
      display: block;
    }
  }
  input[type='search']{
    @include float;
    @include border-radius(0);
    @include font-size(16);
    height: 2.5em;
    width: 80%;
    margin: 0;
    padding: .625em 1em .625em $side-padding;
  }
  input[type='submit']{
    @include float;
    @include border-radius(0);
    @include font-size(16);
    overflow: hidden;
    height: 0;
    width: 20%;
    margin: 0;
    padding: 2.5em 0 0;
    background-image: url('../img/graphics/search-icon-sm.png');
    background-position: center center;
    background-repeat: no-repeat;
  }
}