/**************************************************
 MAIN SECTION STYLES
**************************************************/

.main {

}

.featured {
  article {
    position: relative;
    .summary {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 $side-padding 1em;
    }
  }
}

.cards {
  @extend %clearfix;
  article {
    @include break-up($small){
      @include float;
      width: 50%;
    }
    a {
      display: block;
      background-color: $x-lt-gray;
      &:hover, 
      &:focus {
        background-color: $lt-gray;
        .summary {
          border-color: $gray;
        }
        img {
          @include opacity(.5);
        }
      }
    }
    figure {
      background-color: $black;
      img {
        width: 100%;
        max-width: none;
        vertical-align: bottom;
      }
    }
    .summary {
      padding: 1em 2em;
      border: 1px solid $lt-gray;
      border-top: none;
      p {
        @include font-size(12);
      }
    }
  }
}

.stats {
  @include font-size(12);
  list-style: none;
  margin: 0;
  li {
    display: inline;
    margin: 0 2em 0 0;
    i {
      @include inline-block(top);
      overflow: hidden;
      height: 0;
      padding-top: 15px;
      width: 15px;
      background-color: $black;
    }
  }
}