/**************************************************
 NAVIGATION STYLES
**************************************************/

nav {
  font-family: $nav-font;
  ol {
    list-style: none;
    margin: 0;
  }
  li {
    margin: 0;
  }
}

/* ----- Header Navigation ----- */

header {
  nav {
    display: none;
    overflow: hidden;
    @include break-up($medium){
      display: block !important;
      margin-left: 210px;
    }
    ol {
      @include font-size(16);
    }
    li {
      text-align: center;
      border-top: 1px solid $narrow-nav-border;
      @include break-up($medium){
        display: inline;
        border-top: none;
        &:before {
          content: '\002F';
          margin: 0 .5em;
        }
        &:first-child:before {
          display: none;
        }
      }
    }
    a {
      display: block;
      padding: .75em $side-padding;
      background-color: $narrow-nav-bg;
      color: $narrow-nav-text;
      white-space: nowrap;
      @include break-up($medium){
        display: inline;
        padding: 0;
        background-color: transparent;
        color: $nav-link-color;
      }
      &:hover, 
      &:focus {
        background-color: $narrow-nav-hover;
        color: $narrow-nav-text;
        @include break-up($medium){
          background-color: transparent;
          color: $nav-link-hover;
        }
      }
    }
    .site-nav {
      @include break-up($medium){
        @include float;
        width: 75%;
        text-align: left;
      }
    }
    .user-nav {
      @include break-up($medium){
        @include float(right);
        margin-right: .5em;
        text-align: right;
      }
    }
  }
}

/* ----- Nav Toggle Button ----- */

.nav-toggle {
  @include font-size(16);
  display: block;
  padding: .75em $side-padding;
  background-color: $nav-toggle-bg;
  color: $nav-toggle-text;
  text-align: center;
  text-transform: uppercase;
  @include break-up($medium){
    display: none;
  }
  &:hover, 
  &:focus {
    background-color: $nav-toggle-hover;
    color: $nav-toggle-text;
  }
  &:before, 
  &:after {
    @include font-size(12);
    content: $down-triangle;
    margin-top: .25em;
    .open & {
      content: $up-triangle;
    }
  }
  &:before { @include float; }
  &:after { @include float(right); }
}