/**************************************************
 NAVIGATION STYLES
**************************************************/

nav {
  ol {
    list-style: none;
    margin: 0;
  }
  li {
    margin: 0;
  }
}

/**************************************************
 HEADER NAVIGATION STYLES
**************************************************/

.site-header {
  nav {
    clear: both;
    display: none;
    overflow: hidden;
    @include break-up($medium){
      display: block !important;
      padding: 1.25em $side-padding;
      border-top: 1px solid $nav-border;
    }
    li {
      @include font-size(16);
      border-top: 1px solid $narrow-nav-border;
      font-family: $nav-font;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      @include break-up($medium){
        display: inline;
        border-top: none;
        font-weight: 400;
        &:before{
          content:$vertical-bar;
          margin: 0 .75em 0 .625em;
          color: $nav-divider-color;
        }
        &:first-child:before{content:none}
      }
    }
    a {
      display: block;
      padding: .75em $side-padding;
      background-color: $narrow-nav-bg;
      color: $narrow-nav-text;
      white-space: nowrap;
      @include break-up($medium){
        display: inline;
        padding: 0;
        background-color: transparent;
        color: $nav-link-color;
      }
      &:hover, 
      &:focus {
        background-color: $narrow-nav-hover;
        color: $narrow-nav-text;
        @include break-up($medium){
          background-color: transparent;
          color: $nav-link-hover;
        }
      }
    }
    .site-nav {
      @include break-up($medium){
        @include float;
        width: 75%;
        text-align: left;
      }
    }
    .user-nav {
      @include break-up($medium){
        @include float(right);
        margin-right: .5em;
        text-align: right;
      }
      li {
        border-top-color: darken($teal, 10%);
        @include break-up($medium){
          text-transform: none;
        }
      }
      a {
        background-color: $narrow-user-nav-bg;
        &:hover,&:focus{background-color:$narrow-user-nav-hover}
        @include break-up($medium){
          background-color: transparent;
          color: $user-nav-link-color;
          &:hover,&:focus{
            background-color: transparent;
            color: $user-nav-link-hover;
          }
          span {
            margin: 0 .25em;
            color: $nav-divider-color;
          }
        }
      }
    }
  }
}

.nav-toggle {
  @include font-size(16);
  display: block;
  padding: .75em $side-padding;
  background-color: $nav-toggle-bg;
  color: $nav-toggle-text;
  font-family: $nav-font;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  @include break-up($medium){
    display: none;
  }
  &:hover, 
  &:focus {
    background-color: $nav-toggle-hover;
    color: $nav-toggle-text;
  }
}