/**************************************************
 FORM STYLES
**************************************************/

form {
  @include border-radius;
  @include box-shadow;
  padding: 1.5em;
  background-color: $form-bg;
  h5 {
    margin: .5em 0;
    color: $form-label-color;
  }
}

input,
select, 
textarea, 
button {
  outline: none;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  @extend %transition;
  @include border-radius;
  @include font-size(14);
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
  background-color: $form-field-color;
  border: 1px solid $form-field-border;
	outline: none;
	-webkit-appearance: none;
	&:focus {
  	background-color: $form-field-focus;
	}
}

textarea {
  height: 8em;
  resize: vertical;
}

select {
  @include font-size(14);
  width: 100%;
}

button {
  @extend %button;
  @extend %transition;
  width: 100%;
  margin-top: 1em;
  background-color: $form-button-color;
  border: 1px solid darken($form-button-color, 5%);
  -webkit-appearance: none;
  &:hover,&:focus{background-color:$form-button-hover}
}

input[type='submit']{
  @extend button;
}

.select-box {
  position: relative;
  span {
    @include box-shadow;
    @include border-radius;
    @include font-size(14);
    display: block;
    padding: .75em 1em;
    background-color: $white;
    font-family: $lato;
    &:after {
      @include font-size(12);
      content: $down-triangle;
      float: right;
      margin-top: .25em;
      color: $dk-gray;
    }
  }
  select {
    @include opacity(0);
    @include stretch(0,0,0,0);
    @include border-radius(0);
    border: none;
    -webkit-appearance: none;
  }
}

.captcha-box {
  padding: 1.5em;
  .captcha-field {
    input[type='text'], img {
      @include inline-block;
      margin: 0 .5em .5em 0;
    }
    input[type='text']{
      width: 10em;
    }
  }
}

.errors {
  @include border-radius;
  margin-bottom: 1.5em;
  padding: 1.5em 1.5em 1em;
  background-color: $form-error-bg;
  border: 1px solid $form-error-border;
  h4 {
    margin: 0;
    color: $form-error-text;
  }
  li {
    color: $form-error-text;
  }
}

/**************************************************
 CHOSEN SELECT STYLES
**************************************************/

$chosen-sprite: url("../img/icons/chosen-sprite.png");
$chosen-sprite-retina: url("../img/icons/chosen-sprite@2x.png");

.chosen-container {
  @include font-size(14);
  @include user-select(none);
  position: relative;
  zoom: 1;
  font-family: $lato;
  .chosen-drop {
    @extend %transition;
    @include opacity(0);
    @include box-shadow(0 0.5em 0.5em transparentize($black,0.75));
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    z-index: 1010;
    width: 100%;
    border: 1px solid $chosen-select-border;
    border-top: 0;
    background: $chosen-select-bg;
  }
  &.chosen-with-drop .chosen-drop {
    @include opacity(1);
    max-height: 15em;
  }
  .search-choice,
  .chosen-single {
    .group-name {
      margin-right: .25em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: normal;
      color: $chosen-select-text;
      &:after {
        content: ":";
        padding-left: .125em;
        vertical-align: top;
      }
    }
  }
}

.chosen-container-single{
  .chosen-single {
    @include border-radius(.25em);
    display: block;
    overflow: hidden;
    position: relative;
    padding: .625em 2em .625em 1em;
    background-color: $chosen-select-bg;
    border: 1px solid $chosen-select-border;
    color: $chosen-select-text;
    text-decoration: none;
    white-space: nowrap;
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    div {
      display: block;
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      width: 2em;
      b {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../img/icons/arrow-sprite.svg");
        background-position:  50% -4px;
        background-repeat: no-repeat;
        background-size: 40px 80px;
        .ltie9 & {background-image: url("../img/icons/arrow-sprite.png")}
      }
    }
  }
  .chosen-single {
    abbr {
      position: absolute;
      top: 6px;
      right: 26px;
      display: block;
      width: 12px;
      height: 12px;
      background: $chosen-sprite -42px 1px no-repeat;
      font-size: 1px;
      &:hover {background-position: -42px -10px}
    }
  }
  &.chosen-disabled {
    .chosen-single {
      abbr:hover {
        background-position: -42px -10px;
      }
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
    input[type="text"]{
      margin-bottom: 0;
      background-image: url("../img/icons/search-icon.svg");
      background-position: 95% 50%;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      .ltie9 & {background-image: url("../img/icons/search-icon.png")}
    }
  }
  .chosen-drop {
    @include border-bottom-radius(.25em);
    margin-top: -1px;
    background-clip: padding-box;
  }
  &.chosen-container-single-nosearch {
    .chosen-search {
      position: absolute;
      left: -9999px;
    }
  }
  &.chosen-with-drop .chosen-single {
    @include border-bottom-radius(0);
    border-color: $chosen-select-border;
    div b {background-position: 50% -44px}
  }
}

.chosen-container .chosen-results {
  list-style: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 12em;
  margin: 0;
  padding: .25em;
  color: $body-text;
  -webkit-overflow-scrolling: touch;
  li {
    @include border-radius;
    @include font-size(14);
    display: none;
    margin: 0;
    padding: .5em .75em;
    line-height: normal;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    &.active-result {
      display: list-item;
      cursor: pointer;
    }
    &.disabled-result {
      display: list-item;
      color: $chosen-select-disabled;
      cursor: default;
    }
    &.highlighted {
      background-color: $chosen-select-selection-bg;
      color: $chosen-select-selection-text;
    }
    &.no-results {
      @include box-shadow(none);
      display: list-item;
      background: $chosen-select-noresults-bg;
      color: $chosen-select-noresults-text;
    }
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
}

.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
  .chosen-single {
    cursor: default;
  }
  .chosen-choices {
    .search-choice {
      .search-choice-close {
        cursor: default;
      }
    }
  }
}