/**************************************************
 BASIC PAGE STYLES
**************************************************/

.single {
  @include border-radius;
  @include box-shadow;
  overflow: hidden;
  background-color: $module-aside-bg;
  article {
    padding: 1.5em 1.5em 3em;
    background-color: $module-bg;
    @include break-up($small){
      padding: 3em 3em 6em;
    }
    @include break-up($medium){
      @include float;
      width: 60%;
      padding-right: 4.5em;
    }
    @include break-up($large){
      width: 70%;
    }
    p{max-width:36em}
  }
  header {
    margin-bottom: 3em;
    padding: 1.5em 0 3em;
    border-bottom: 1px solid $border-color;
    h1{margin:0}
    h5{margin:.75em 0 0}
    .by-line{
      @include font-size(12);
      max-width: none;
      margin: 1.5em 0 -2.25em;
      padding: .5em 0;
      border-top: 1px solid $border-color;
      font-family: $by-line-font;
      span{margin:0 .375em;color:$border-color}
      a {@include inline-block(baseline)}
    }
  }
  aside {
    position: relative;
    padding: 3em 1.5em;
    color: $module-aside-text;
    @include break-up($small){padding:3em}
    @include break-up($medium){float:right;width:40%}
    @include break-up($large){
      width: 30%;
    }
    .aside-content {
      @include break-up($large){
        &.sticky {position:fixed;top:9em}
        &.sticky.bottom {position:absolute;top:auto;bottom:-1.5em}
      }
    }
    h4 {
      margin: 0 0 1em;
      color: $module-aside-text;
      text-transform: uppercase;
    }
    p{@include font-size(14)}
    form {
      @include border-radius(0);
      @include box-shadow(none);
      margin-top: 3em;
      padding: 3em 0 0;
      background-color: transparent;
      border-top: 1px solid $module-aside-border;
      h5 {
        @include font-size(14);
        color: $module-aside-text;
        text-transform: uppercase;
      }
      input,textarea{border:none}
      input[type="submit"]{
        background-color: $module-aside-button;
        &:hover,&:focus{background-color:darken($module-aside-button, 5%)}
      }
    }
  }
}