/**************************************************
 CONTRIBUTOR PAGE STYLES
**************************************************/

.contributors__page {
  @include border-radius;
  @include box-shadow;
  overflow: hidden;
  max-width: 90em;
  margin: 0 auto;
  background-color: $md-blue;
  header {
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid $border-color;
    @include break-up($small){
      padding-top: 1.5em;
    }
    figure {
      margin-bottom: 3em;
      background-color: $lt-gray;
      @include break-up($small){
        float: right;
        width: 45%;
        max-width: 30em;
        margin: -1.5em 0 0;
        padding: 0 0 1.5em 1.5em;
        background-color: $module-bg;
      }
      @include break-up($medium){
        padding: 0 0 3em 3em;
      }
      img {
        display: block;
        max-width: 30em;
        margin: 0 auto;
      }
    }
    h1 {
      margin: 0 0 .25em;
    }
    p {
      margin: 0;
    }
  }
  article {
    @extend %clearfix;
    background-color: $module-bg;
    padding: 1.5em;
    @include break-up($medium){padding:3em}
  }
  .contributors__articles {
    overflow: hidden;
    padding: 3em 1.5em;
    @include break-up($small){padding:3em}
    h2 {
      margin: 0 0 1em;
      color: $white;
    }
    ul{
      list-style: none;
      margin: 0;
      @include break-up($small){
        width: 102%;
        margin-left: -2%;
      }
    }
    li {
      @include font-size(10);
      margin: 1em 0 0;
      @include break-up($small){
        float: left;
        width: 48%;
        margin: 0 0 1.5em 2%;
        &:nth-child(odd){clear:left}
      }
      h5 {
        margin: 0 0 .75em;
        color: $media-link-block-text;
      }
      h6 {
        @include font-size(11);
        overflow: hidden;
        float: right;
        width: 40%;
        margin: .25em 0 0;
        text-align: right;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .meta {
        @include font-size(11);
        float: left;
        width: 60%;
        margin: 0;
        color: $body-text;
      }
      a {
        @include border-radius;
        display: block;
        padding: 1.5em 1.5em 1.25em;
        background-color: $media-link-block-bg;
        border: 1px solid darken($media-link-block-bg, 5%);
        &:hover,
        &:focus {
          background-color: $media-link-block-hover-bg;
          h5, h6, p {color:$media-link-block-hover}
        }
      }
    }
    .q-and-a {
      h5 {@extend %qanda-title}
    }
    .flexbox & {
      ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
      }
      li {
        float: none;
        width: 100%;
        /* Flexbox Styles */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        @include break-up($small){width:48%}
      }
      a {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
      }
    }
  }
}