/**************************************************
 THOUGHTS PAGE STYLES
**************************************************/

.thoughts-feed {@extend %filters-main}

.home-feed,
.thoughts-feed,
.easter-eggs-feed {
  @extend %article-list;
  .qanda {
    h2 {
      @include break-up($small){
        @include font-size(36);
      }
    }
  }
}

%article-list {
  .inner {max-width: 72em}
  article {
    @include border-radius;
    @include box-shadow;
    overflow: hidden;
    margin-bottom: 3em;
    background-color: $module-bg;
    @include break-up($medium){margin-bottom:4.5em}
  }
  h6 {
    @include font-size(14);
    margin: 0;
    padding: 1em 1.5em;
    background-color: $module-header-bg;
    color: $module-header-text;
  }
  .summary {
    padding: 1.5em;
    @include break-up($small){padding:3em}
    h2{margin:0 0 .5em}
  }
  footer {
    overflow: hidden;
    padding: 1em 2em;
    background-color: $module-footer-bg;
    text-align: right;
    @include break-up($small){
      padding-left: 3em;
      padding-right: 3em;
    }
    h6 {
      @include font-size(12);
      overflow: hidden;
      float: left;
      width: 40%;
      margin: .375em 0 0;
      padding: 0;
      background-color: transparent;
      color: $lt-gray;
      text-align: left;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      @include font-size(14);
      margin: 0;
      color: darken($module-footer-bg, 10%);
    }
    .spacer{margin:.5em}
    a {
      @include inline-block;
      color: $module-footer-link;
      svg {fill:$module-footer-link}
      &:hover, 
      &:focus {
        color: $module-footer-hover;
        svg {fill:$module-footer-hover}
      }
    }
  }
}