/**************************************************
 THOUGHTS PAGE STYLES
**************************************************/

%article-list {
  .inner {max-width: 72em}
  article {
    @include border-radius;
    @include box-shadow;
    overflow: hidden;
    margin-bottom: 3em;
    background-color: $module-bg;
  }
  h6 {
    @include font-size(14);
    margin: 0;
    padding: 1em 1.5em;
    background-color: $module-header-bg;
    color: $module-header-text;
    text-transform: uppercase;
  }
  .summary {
    padding: 1.5em;
    @include break-up($small){padding:3em}
    h2{margin:0 0 .5em}
  }
  footer {
    overflow: hidden;
    padding: 1em 2em;
    background-color: $module-footer-bg;
    text-align: right;
    text-transform: uppercase;
    @include break-up($small){
      padding-left: 3em;
      padding-right: 3em;
    }
    h6 {
      @include font-size(12);
      overflow: hidden;
      float: left;
      margin: 0.375em 1em 0 0;
      padding: 0;
      background-color: transparent;
      color: $deep-blue;
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      @include font-size(14);
      margin: 0;
      color: darken($module-footer-bg, 10%);
    }
    .spacer{margin:.5em}
    a {
      @include inline-block;
      color: $module-footer-link;
      svg {fill:$module-footer-link}
      &:hover, 
      &:focus {
        color: $module-footer-hover;
        svg {fill:$module-footer-hover}
      }
    }
  }
  .q-and-a .summary h2 a {@extend %qanda-title}
}

.thoughts-feed {
  @extend %filters-main;
  @extend %article-list;
  article {
    @include break-up($medium){
      margin-bottom: 4.5em;
    }
  }
}