/**************************************************
 MAIN SECTION STYLES
**************************************************/

.main {
  position: relative;
  z-index: 2;
  background: $body-bg;
  padding: 3em $side-padding 9em;
  @include break-up($large){
    padding-top: $fixed-top-padding;
  }
}

/**************************************************
 CARD STYLES
**************************************************/

%card-styles {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  li {
    @include font-size(10);
    a {
      @include border-radius;
      @include box-shadow;
      display: block;
      overflow: hidden;
      background-color: $card-bg-color;
      &:hover, 
      &:focus {
        h5,h6,p {color:$card-link-hover}
        figure img {@include opacity(.75)}
        .summary {background-color: lighten($card-bg-hover, 57.5%)}
      }
    }
    figure {
      background-color: $card-image-bg;
      img {
        @extend %transition;
      }
    }
    .details {
      padding: 1em 1.5em;
    }
    h5 {
      overflow: hidden;
      margin: 0;
      padding: .125em 0;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      @include font-size(14);
      margin: 0;
      color: $card-link-color;
    }
    svg {
      @include inline-block(middle);
      height: 1em;
      width: 1em;
      margin-right: .25em;
    }
  }
}

/**************************************************
 LIST FILTER STYLES
**************************************************/

.filters {
  padding: 1.5em $side-padding;
  background-color: $filters-bar-bg;
  border-bottom: 1px solid darken($filters-bar-bg,10%);
  @include break-up($large){
    padding-top: 13.5em;
    padding-bottom: 1.75em;
  }
  .sort-toggles {
    @extend %site-column;
    @include font-size(12);
    margin: 0 auto;
    color: $filters-bar-text;
    font-family: $filters-font;
    text-transform: uppercase;
    @include break-up($medium){
      float: left;
      width: 65%;
      margin-top: .25em;
    }
    a {
      @include inline-block(baseline);
      @include border-radius(.25em);
      margin-left: .375em;
      padding: .25em .75em;
      background-color: $filters-bar-link-bg;
      color: $filters-bar-link-text;
      &:hover,&:focus{background-color:$filters-bar-link-hover}
      &.active {background-color: $filter-bar-link-active}
    }
  }
  .select-box {
    margin-top: 1em;
    @include break-up($medium){
      float: right;
      width: 30%;
      margin-top: 0;
    }
    @include break-up($large){
      width: 20%;
    }
  }
  .chosen-select, 
  .chosen-container {
    margin-top: 1em;
    width: 100% !important;
    @include break-up($medium){
      float: right;
      width: 35% !important;
      margin-top: 0;
    }
    @include break-up($large){
      width: 25% !important;
    }
  }
}

%filters-main {padding-top:4em}