/**************************************************
 SEARCH PAGE STYLES
**************************************************/

.search {
  &-results {
    @extend %article-list;
    .summary {
      @include break-up($small){
        padding: 3em 3em 1.5em;
      }
      h3 {
        margin: 0 0 .75em;
        &.q-and-a {
          a {@extend %qanda-title}
        }
      }
      p {
        @include font-size(14);
      }
    }
  }
  &-heading {
    margin: 0 0 1em;
    span {
      color: $md-blue;
    }
  }
  &-link,
  &-label {
    @include font-size(14);
  }
  &-label {
    float: left;
    font-family: $lato;
  }
  &-link {
    svg {
      @include inline-block();
      height: 1em;
      width: 1em;
      margin-right: .25em;
    }
  }
}

.no-results, 
.message {
  @include border-radius;
  @include box-shadow;
  overflow: hidden;
  max-width: 60em;
  margin: 0 auto;
  padding: 1.5em;
  background-color: $module-aside-bg;
  background-color: $module-bg;
  @include break-up($small){
    padding: 3em;
  }
  h2 {
    margin: .5em 0;
    padding-bottom: .5em;
    border-bottom:  1px solid $border-color;
    span {
      color: $md-blue;
    }
  }
  form {
    @include border-radius(0);
    @include box-shadow(none);
    background-color: $submit-question-bg;
  }
  input[type="submit"]{
    margin-top: 0;
    @include break-up($medium){width:50%}
  }
}