/**************************************************
 SEARCH PAGE STYLES
**************************************************/

.search {
  &-results {
    @extend %article-list;
    .summary {
      min-height: 200px;
      &-poster {
        float: left;
        margin-right: 5%;
        width: 100px;
      }
      &-content {
        float: left;
        width: 75%
      }
      img {
        max-width: 100px;
      }
      h3 {
        line-height: 1;
        margin-bottom: 10px;
        margin-top: 0;
        &.q-and-a {
          a {@extend %qanda-title}
        }
      }
      p {
        @include font-size(14);
        padding-right: 25px;
      }
    }
  }
  &-heading {
    margin: 0 0 1em;
    span {
      color: $black;
    }
  }
  &-link,
  &-label {
    @include font-size(14);
  }
  &-label {
    float: left;
  }
  &-link {
    svg {
      @include inline-block();
      height: 1em;
      width: 1em;
      margin-right: .25em;
    }
  }
}

@media screen and (max-width: 640px) {
  .search {
    &-results {
      .summary {
        &-poster {
          float: none;
          width: 100%;
        }
        &-content {
          float: none;
          width: 100%;
        }
        h3 {
          margin-top: 10px;
        }
        p {
          padding-right: 0;
        }
      }
    }
  }
}

.no-results, 
.message {
  @include border-radius;
  @include box-shadow;
  overflow: hidden;
  max-width: 60em;
  margin: 0 auto;
  padding: 1.5em;
  background-color: $module-aside-bg;
  background-color: $module-bg;
  @include break-up($small){
    padding: 3em;
  }
  h2 {
    margin: .5em 0;
    padding-bottom: .5em;
    border-bottom:  1px solid $border-color;
    span {
      color: $black;
    }
  }
  form {
    @include border-radius(0);
    @include box-shadow(none);
    background-color: $submit-question-bg;
  }
  input[type="submit"]{
    margin-top: 0;
    @include break-up($medium){width:50%}
  }
}