/**************************************************
 FORM STYLES
**************************************************/

input,
textarea {
  outline: none;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea, 
.select-box {
  display: block;
  width: 100%;
  background-color: $input-bg;
  border: none;
  font-family: $input-font;
  -webkit-appearance: none;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'], 
.select-box {

}

textarea {
  resize: vertical;
}

select {
  outline: none;
  display: block;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.select-box {
  position: relative;
  &:after {
    @include font-size(18);
    content: $down-arrow;
    display: block;
    position: absolute;
    z-index: 2;
    top: .2em;
    right: 1em;
  }
  p {
    @include font-size(16);
    margin: 0;
  }
  select {
    @include opacity(0);
    @include border-radius(0);
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    -webkit-appearance: none;
  }
}

button, 
input[type="submit"]{
  @extend %button;
  @include transition;
  margin-top: 1em;
  -webkit-appearance: none;
}

label {
  display: inline;
  color: $label-color;
}