/**************************************************
 FORM STYLES
**************************************************/

form {
  @include border-radius;
  @include box-shadow;
  padding: 1.5em;
  background-color: $form-bg;
  h5 {
    margin: .5em 0;
    color: $form-label-color;
  }
}

input,
select, 
textarea, 
button {
  outline: none;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  @extend %transition;
  @include border-radius;
  @include font-size(14);
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
  background-color: $form-field-color;
  border: 1px solid $form-field-border;
	outline: none;
	-webkit-appearance: none;
	&:focus {
  	background-color: $form-field-focus;
	}
}

textarea {
  height: 8em;
  resize: vertical;
}

button {
  @extend %button;
  @extend %transition;
  width: 100%;
  margin-top: 1em;
  background-color: $form-button-color;
  border: 1px solid darken($form-button-color, 5%);
  -webkit-appearance: none;
  &:hover,&:focus{background-color:$form-button-hover}
}

input[type='submit']{
  @extend button;
}