/**************************************************
 FORM STYLES
**************************************************/

input,
select, 
textarea, 
button {
  outline: none;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  @include transition;
  @include border-radius(3px);
  @include font-size(14);
  display: block;
  width: 100%;
  margin-bottom: 1.25em;
  padding: .5em;
  background-color: $form-field-color;
  border: none;
	outline: none;
	-webkit-appearance: none;
	&:focus {
  	background-color: $form-field-focus;
	}
}

textarea {
  height: 8em;
  resize: vertical;
}

button {
  @include transition;
  @include border-radius(3px);
  @include font-size(18);
  display: block;
  width: 100%;
  margin-top: 1.5em;
  padding: .5em;
  background-color: $button-bg;
  border: none;
  color: $button-text;
  font-family: $button-font;
  -webkit-appearance: none;
  @include break-up($large){
    width: 50%;
  }
  &:hover, 
  &:focus {
    background-color: $button-hover;
  }
}

input[type='submit']{
  @extend button;
}