/**************************************************
 FORM STYLES
**************************************************/

form {
  @include border-radius;
  @include box-shadow;
  padding: 1.5em;
  background-color: $form-bg;
  h5 {
    margin: .5em 0;
    color: $form-label-color;
  }
}

input,
select, 
textarea, 
button {
  outline: none;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  @extend %transition;
  @include border-radius;
  @include font-size(14);
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
  background-color: $form-field-color;
  border: 1px solid $form-field-border;
	outline: none;
	-webkit-appearance: none;
	&:focus {
  	background-color: $form-field-focus;
	}
}

textarea {
  height: 8em;
  resize: vertical;
}

select {
  @include font-size(14);
  width: 100%;
}

button {
  @extend %button;
  @extend %transition;
  width: 100%;
  margin-top: 1em;
  background-color: $form-button-color;
  border: 1px solid darken($form-button-color, 5%);
  -webkit-appearance: none;
  &:hover,&:focus{background-color:$form-button-hover}
}

input[type='submit']{
  @extend button;
}

.select-box {
  position: relative;
  span {
    @include border-radius;
    @include font-size(14);
    display: block;
    padding: .5em .75em;
    background-color: $white;
    font-family: $lato;
    &:after {
      @include font-size(12);
      content: $down-triangle;
      float: right;
      margin-top: .25em;
      color: $teal;
    }
  }
  select {
    @include opacity(0);
    @include stretch(0,0,0,0);
    @include border-radius(0);
    border: none;
    -webkit-appearance: none;
  }
}