/**************************************************
 VARIABLES
**************************************************/
/**************************************************
 SITE SPECIFIC VARIABLES
**************************************************/
/**************************************************
 FONT STACKS
**************************************************/
/**************************************************
 FONTS IN USE
**************************************************/
/**************************************************
 COLORS
**************************************************/
/**************************************************
 COLORS IN USE
**************************************************/
/**************************************************
 DEFAULT VALUES FOR COMPASS MIX-INS
**************************************************/
/* 3d Transform Defaults */
/* Transition Defaults */
/* Color Contrast Defaults */
/**************************************************
 COMPASS
**************************************************/
/**************************************************
 HELPER STYLES
**************************************************/
/**************************************************
 CONVERT PX TO EM
**************************************************/
/**************************************************
 FONT SIZE
**************************************************/
/**************************************************
 HI-RES BACKGROUND IMAGES
**************************************************/
/**************************************************
 BREAK POINTS
**************************************************/
/**************************************************
 COMPASS GLOBAL RESET
**************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**************************************************
 ADDITIONAL RESET STYLES
**************************************************/
audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:hover, a:active {
  outline: none; }

img, object, embed {
  max-width: 100%;
  height: auto !important;
  border: 0; }
  .ie8 img, .ie8 object, .ie8 embed {
    width: auto; }

figure img {
  width: 100%;
  vertical-align: bottom; }

svg:not(:root) {
  overflow: hidden; }

ins {
  color: #303040;
  text-decoration: none; }

mark {
  color: #303040; }

del {
  text-decoration: line-through; }

abbr {
  cursor: help; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  font-size: inherit;
  font: 100%; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td, td img {
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9d9d1;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

em > strong, strong > em {
  font-weight: bold;
  font-style: italic; }

small {
  font-size: .85em; }

sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

pre, code, kbd, samp {
  font-family: "courier new", monospace, serif;
  font-size: 1em; }

textarea {
  overflow: auto; }

.clickable, label, input[type='button'], input[type='submit'], button, input[type='submit'], a {
  cursor: pointer; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

button, input[type='submit'] {
  width: auto;
  overflow: visible; }

button, input[type='submit'], input, select, textarea {
  margin: 0; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**************************************************
 EXTENDABLE STYLES
**************************************************/
svg, input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea, button, input[type='submit'], .recent-topics li figure img, .recent-films li figure img, .films-list ol li figure img, .media-article .related-films ul li figure img {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

section, .site-footer, .recent-topics, .recent-films, .films-list ol, .media-article .related-films ul, .topics .inner {
  zoom: 1; }
  section:before, .site-footer:before, .recent-topics:before, .recent-films:before, .films-list ol:before, .media-article .related-films ul:before, .topics .inner:before, section:after, .site-footer:after, .recent-topics:after, .recent-films:after, .films-list ol:after, .media-article .related-films ul:after, .topics .inner:after {
    display: table;
    visibility: hidden;
    content: ""; }
  section:after, .site-footer:after, .recent-topics:after, .recent-films:after, .films-list ol:after, .media-article .related-films ul:after, .topics .inner:after {
    clear: both; }

/**************************************************
 BASE STYLES
**************************************************/
/**************************************************
 SELECTION STYLES
**************************************************/
::selection {
  background: #732d55;
  text-shadow: none;
  color: #fff; }

::-moz-selection {
  background: #732d55;
  text-shadow: none;
  color: #fff; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none; }

  a:link {
    -webkit-tap-highlight-color: #732d55; } }
/**************************************************
 BASE STYLES
**************************************************/
html {
  font-size: 62.5%; }

body {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif; }

body,
input,
select,
textarea {
  color: #303040;
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif; }

section {
  padding: 4em 7% 8em; }

p svg {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 1em;
  width: 1em;
  margin-right: .25em; }

/**************************************************
 BASE LAYOUT STYLES
**************************************************/
.top,
.inner,
.content, .site-header .top, .filters p {
  max-width: 1080px;
  margin: 0 auto; }

/**************************************************
 LINK STYLES
**************************************************/
a {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #2d9099;
  text-decoration: none; }
  a:hover, a:focus {
    color: #216b72; }

/**************************************************
 TYPE STYLES
**************************************************/
h1, h2, h3 {
  margin: 1em 0;
  color: #732d55;
  font-family: "Oswald", Helmet, Freesans, sans-serif;
  font-weight: 300; }

h4, h5, h6 {
  margin: 1.5em 0;
  color: #918a98;
  font-family: "Lato", Helmet, Freesans, sans-serif;
  font-weight: 300; }

h1 {
  font-size: 36px;
  font-size: 3.6rem; }

h2 {
  font-size: 30px;
  font-size: 3rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 21px;
  font-size: 2.1rem; }

h5, h6 {
  font-size: 18px;
  font-size: 1.8rem; }

p, ul li, ol li, address {
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 50em) {
    p, ul li, ol li, address {
      font-size: 16px;
      font-size: 1.6rem; } }

p {
  margin: 0 0 1em;
  line-height: 1.7; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: square; }

ul, ol {
  margin: 1em 0 1em 1.75em; }
  ul li, ol li {
    margin: .25em 0; }

blockquote p {
  font-size: 1em;
  margin: 0; }

figcaption {
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 1em; }

address {
  margin-bottom: 1em; }

small {
  font-size: 12px;
  font-size: 1.2rem; }

/**************************************************
 COMPONENT STYLES
**************************************************/
/**************************************************
 BUTTON STYLES
**************************************************/
.button, button, input[type='submit'] {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  -moz-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  font-size: 24px;
  font-size: 2.4rem;
  display: block;
  width: 100%;
  padding: .5em;
  background-color: #732d55;
  color: #fff;
  font-family: "Lato", Helmet, Freesans, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }
  .button:hover, button:hover, input[type='submit']:hover, .button:focus, button:focus, input[type='submit']:focus {
    background-color: #612647;
    color: #fff; }

.load {
  font-size: 30px;
  font-size: 3rem;
  margin-top: 1em;
  background-color: #303040;
  font-weight: 300; }
  .load:hover, .load:focus {
    background-color: #3b3b4f; }

/**************************************************
 FORM STYLES
**************************************************/
form {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  -moz-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  padding: 1.5em;
  background-color: #fff; }
  form h5 {
    margin: .5em 0;
    color: #303040; }

input,
select,
textarea,
button,
input[type='submit'] {
  outline: none; }

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
  background-color: #fff;
  border: 1px solid #d9d9d1;
  outline: none;
  -webkit-appearance: none; }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='url']:focus,
  input[type='password']:focus,
  textarea:focus {
    background-color: #fff; }

textarea {
  height: 8em;
  resize: vertical; }

button, input[type='submit'] {
  width: 100%;
  margin-top: 1em;
  background-color: #2d9099;
  border: 1px solid #277d85;
  -webkit-appearance: none; }
  button:hover, input[type='submit']:hover, button:focus, input[type='submit']:focus {
    background-color: #277d85; }

/**************************************************
 MODULE STYLES
**************************************************/
/**************************************************
 HEADER STYLES
**************************************************/
.site-header {
  background-color: #f0f0ed; }
  @media screen and (min-width: 50em) {
    .site-header {
      -moz-box-shadow: 0 0 10px rgba(48, 48, 64, 0.5);
      -webkit-box-shadow: 0 0 10px rgba(48, 48, 64, 0.5);
      box-shadow: 0 0 10px rgba(48, 48, 64, 0.5);
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0; } }
  .site-header .top {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden; }
    @media screen and (min-width: 50em) {
      .site-header .top {
        padding: 1em 7%; } }
  .site-header h1 {
    font-size: 10px;
    font-size: 1rem;
    position: relative;
    height: 9em;
    margin: 0;
    text-align: center; }
    @media screen and (min-width: 50em) {
      .site-header h1 {
        float: left;
        position: static;
        height: auto;
        margin-left: -4.75em; } }
    .site-header h1 a {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 0;
      width: 22.5em;
      padding-top: 5em;
      margin-top: -2.5em;
      margin-left: -13em;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url("../img/logo/screenprism-header-logo.png"); }
      @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
        .site-header h1 a {
          background-image: url("../img/logo/screenprism-header-logo-2x.png");
          background-size: 225px 50px; } }
      @media screen and (min-width: 50em) {
        .site-header h1 a {
          position: static;
          margin: 0; } }

.search-bar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  padding: 0;
  background-color: transparent; }
  @media screen and (min-width: 50em) {
    .search-bar {
      float: right;
      width: 70%;
      margin: .5em 0; } }
  @media screen and (min-width: 62.5em) {
    .search-bar {
      width: 75%; } }
  @media screen and (min-width: 75em) {
    .search-bar {
      width: 80%; } }
  .search-bar input[type='text'] {
    float: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    font-size: 1.6rem;
    height: 2.5em;
    width: 75%;
    margin: 0;
    padding: 0.625em 0 0.625em 7%;
    border-top: none;
    border-left: none;
    border-right: none; }
    @media screen and (min-width: 50em) {
      .search-bar input[type='text'] {
        -moz-border-radius-topleft: 0.3rem;
        -webkit-border-top-left-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
        -moz-border-radius-bottomleft: 0.3rem;
        -webkit-border-bottom-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        padding-left: 1em;
        border: 1px solid #d9d9d1;
        border-right: none; } }
    @media screen and (min-width: 62.5em) {
      .search-bar input[type='text'] {
        width: 80%; } }
  .search-bar button, .search-bar input[type='submit'] {
    float: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    font-size: 1.6rem;
    height: 2.5em;
    width: 25%;
    margin: 0;
    background-color: #732d55;
    border-color: #612647;
    border-right: none;
    border-top: none;
    text-align: center; }
    @media screen and (min-width: 50em) {
      .search-bar button, .search-bar input[type='submit'] {
        -moz-border-radius-topright: 0.3rem;
        -webkit-border-top-right-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        -moz-border-radius-bottomright: 0.3rem;
        -webkit-border-bottom-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem; } }
    @media screen and (min-width: 62.5em) {
      .search-bar button, .search-bar input[type='submit'] {
        width: 20%; } }
    .search-bar button:hover, .search-bar input[type='submit']:hover, .search-bar button:focus, .search-bar input[type='submit']:focus {
      background-color: #612647; }
    .search-bar button svg, .search-bar input[type='submit'] svg {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 1.25em;
      margin: 0 .5em;
      fill: #fff; }
      .ltie9 .search-bar button svg, .ltie9 .search-bar input[type='submit'] svg {
        display: none; }
    .search-bar button span, .search-bar input[type='submit'] span {
      display: none;
      margin: 0 .5em; }
      .ltie9 .search-bar button span, .ltie9 .search-bar input[type='submit'] span {
        display: inline; }

/**************************************************
 NAVIGATION STYLES
**************************************************/
nav ol {
  list-style: none;
  margin: 0; }
nav li {
  margin: 0; }

/**************************************************
 HEADER NAVIGATION STYLES
**************************************************/
.site-header nav {
  clear: both;
  display: none;
  overflow: hidden; }
  @media screen and (min-width: 50em) {
    .site-header nav {
      display: block !important;
      padding: 1.25em 7%;
      border-top: 1px solid #e4e4df; } }
  .site-header nav li {
    font-size: 16px;
    font-size: 1.6rem;
    border-top: 1px solid #612647;
    font-family: "Lato", Helmet, Freesans, sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 50em) {
      .site-header nav li {
        display: inline;
        border-top: none;
        font-weight: 400; }
        .site-header nav li:before {
          content: "|";
          margin: 0 .75em 0 .625em;
          color: #e4e4df; }
        .site-header nav li:first-child:before {
          content: none; } }
  .site-header nav a {
    display: block;
    padding: 0.75em 7%;
    background-color: #732d55;
    color: #fff;
    white-space: nowrap; }
    @media screen and (min-width: 50em) {
      .site-header nav a {
        display: inline;
        padding: 0;
        background-color: transparent;
        color: #303040; } }
    .site-header nav a:hover, .site-header nav a:focus {
      background-color: #612647;
      color: #fff; }
      @media screen and (min-width: 50em) {
        .site-header nav a:hover, .site-header nav a:focus {
          background-color: transparent;
          color: #732d55; } }
  @media screen and (min-width: 50em) {
    .site-header nav .site-nav {
      float: left;
      width: 75%;
      text-align: left; } }
  @media screen and (min-width: 50em) {
    .site-header nav .user-nav {
      float: right;
      margin-right: .5em;
      text-align: right; } }
  .site-header nav .user-nav li {
    border-top-color: #216b72; }
    @media screen and (min-width: 50em) {
      .site-header nav .user-nav li {
        text-transform: none; } }
  .site-header nav .user-nav a {
    background-color: #2d9099; }
    .site-header nav .user-nav a:hover, .site-header nav .user-nav a:focus {
      background-color: #277d85; }
    @media screen and (min-width: 50em) {
      .site-header nav .user-nav a {
        background-color: transparent;
        color: #2d9099; }
        .site-header nav .user-nav a:hover, .site-header nav .user-nav a:focus {
          background-color: transparent;
          color: #1f5466; }
        .site-header nav .user-nav a span {
          margin: 0 .25em;
          color: #e4e4df; } }

.nav-toggle {
  font-size: 16px;
  font-size: 1.6rem;
  display: block;
  padding: 0.75em 7%;
  background-color: #303040;
  color: #fff;
  font-family: "Lato", Helmet, Freesans, sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 50em) {
    .nav-toggle {
      display: none; } }
  .nav-toggle:hover, .nav-toggle:focus {
    background-color: #252531;
    color: #fff; }

/**************************************************
 FOOTER STYLES
**************************************************/
body {
  background-color: #303040; }

.site-footer {
  padding: 6em 7%;
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .site-footer {
      text-align: left; } }
  .site-footer svg {
    height: 3em;
    width: 3em;
    fill: #fff; }
  .site-footer a {
    color: #fff; }
    .site-footer a:hover, .site-footer a:focus {
      color: #918a98; }
      .site-footer a:hover svg, .site-footer a:focus svg {
        fill: #918a98; }
  .site-footer h1 {
    margin: 0; }
  .site-footer ol {
    list-style: none;
    margin: 3em 0; }
  .site-footer li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0; }
  .site-footer .legal-links li {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Lato", Helmet, Freesans, sans-serif;
    font-weight: 300; }
    .site-footer .legal-links li:before {
      content: '\007C';
      margin: 0 .5em;
      color: #2d9099; }
    .site-footer .legal-links li:first-child:before {
      display: none; }
  .site-footer .social-links li {
    font-size: 10px;
    font-size: 1rem;
    margin: 0 .5em; }
  .site-footer .social-links a {
    display: block; }
  @media screen and (min-width: 50em) {
    .site-footer .footer-links {
      float: left;
      width: 60%;
      padding-top: 1.5em; } }
  .site-footer .mailing-list {
    margin-bottom: 4.5em;
    padding-top: 3em;
    border-top: 1px solid #2d9099; }
    @media screen and (min-width: 50em) {
      .site-footer .mailing-list {
        float: right;
        width: 30%;
        margin-bottom: 3em;
        padding-top: 0;
        border-top: none;
        text-align: center; } }
    .site-footer .mailing-list h5 {
      margin: 0 0 1.5em;
      color: #fff; }
    .site-footer .mailing-list form {
      display: block;
      max-width: 270px;
      margin: 0 auto; }
      @media screen and (min-width: 50em) {
        .site-footer .mailing-list form {
          max-width: none; } }
    .site-footer .mailing-list input {
      font-size: 14px;
      font-size: 1.4rem;
      margin: 0 0 .5em; }
  .site-footer small {
    display: block;
    clear: right; }
    @media screen and (min-width: 50em) {
      .site-footer small {
        float: right;
        width: 30%;
        text-align: center; } }

/**************************************************
 PAGE STYLES
**************************************************/
/**************************************************
 MAIN SECTION STYLES
**************************************************/
.main {
  position: relative;
  z-index: 2;
  background: #fff url("../img/backgrounds/background-tile-01.png") 50% 0 repeat;
  padding: 3em 7% 9em; }
  @media screen and (min-width: 50em) {
    .main {
      padding-top: 15em; } }

/**************************************************
 CARD STYLES
**************************************************/
.recent-topics, .recent-films, .films-list ol, .media-article .related-films ul {
  list-style: none;
  margin: 0; }
  .recent-topics li, .recent-films li, .films-list ol li, .media-article .related-films ul li {
    font-size: 10px;
    font-size: 1rem; }
    .recent-topics li a, .recent-films li a, .films-list ol li a, .media-article .related-films ul li a {
      -moz-border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      border-radius: 0.3rem;
      -moz-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
      -webkit-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
      box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
      display: block;
      overflow: hidden;
      background-color: #fff; }
      .recent-topics li a:hover h5, .recent-films li a:hover h5, .films-list ol li a:hover h5, .media-article .related-films ul li a:hover h5, .recent-topics li a:focus h5, .recent-films li a:focus h5, .films-list ol li a:focus h5, .media-article .related-films ul li a:focus h5 {
        color: #2d9099; }
      .recent-topics li a:hover p, .recent-films li a:hover p, .films-list ol li a:hover p, .media-article .related-films ul li a:hover p, .recent-topics li a:focus p, .recent-films li a:focus p, .films-list ol li a:focus p, .media-article .related-films ul li a:focus p {
        color: #2d9099; }
      .recent-topics li a:hover svg, .recent-films li a:hover svg, .films-list ol li a:hover svg, .media-article .related-films ul li a:hover svg, .recent-topics li a:focus svg, .recent-films li a:focus svg, .films-list ol li a:focus svg, .media-article .related-films ul li a:focus svg {
        fill: #2d9099; }
      .recent-topics li a:hover figure img, .recent-films li a:hover figure img, .films-list ol li a:hover figure img, .media-article .related-films ul li a:hover figure img, .recent-topics li a:focus figure img, .recent-films li a:focus figure img, .films-list ol li a:focus figure img, .media-article .related-films ul li a:focus figure img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5; }
    .recent-topics li figure, .recent-films li figure, .films-list ol li figure, .media-article .related-films ul li figure {
      background-color: #2d9099; }
    .recent-topics li .details, .recent-films li .details, .films-list ol li .details, .media-article .related-films ul li .details {
      padding: 1em 1.5em; }
    .recent-topics li h5, .recent-films li h5, .films-list ol li h5, .media-article .related-films ul li h5 {
      overflow: hidden;
      margin: 0;
      padding: .125em 0;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .recent-topics li p, .recent-films li p, .films-list ol li p, .media-article .related-films ul li p {
      font-size: 14px;
      font-size: 1.4rem;
      margin: 0;
      color: #732d55; }
    .recent-topics li svg, .recent-films li svg, .films-list ol li svg, .media-article .related-films ul li svg {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      height: 1em;
      width: 1em;
      margin-right: .25em;
      fill: #732d55; }

/**************************************************
 LIST FILTER STYLES
**************************************************/
.filters {
  padding: 1.5em 7%;
  background-color: #2d9099; }
  @media screen and (min-width: 50em) {
    .filters {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 13.5em;
      padding-bottom: 2em; } }
  .filters p {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0 auto;
    color: #fff;
    font-family: "Lato", Helmet, Freesans, sans-serif;
    text-transform: uppercase; }
  .filters a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    margin-left: .25em;
    padding: .25em .5em;
    background-color: #303040;
    color: #fff; }
    .filters a:hover, .filters a:focus {
      background-color: #1f5466; }

.thoughts-feed, .films-list {
  position: relative;
  z-index: 2;
  padding-top: 4em; }
  @media screen and (min-width: 50em) {
    .thoughts-feed, .films-list {
      margin-top: 18.5em; } }

/**************************************************
 HOME PAGE STYLES
**************************************************/
.topics {
  background-color: #303040;
  padding-bottom: 4em; }
  @media screen and (min-width: 50em) {
    .topics {
      padding-top: 15em; } }
  .topics .inner {
    position: relative; }
  .topics h4 {
    margin: 0 0 1em; }
  .topics .title span {
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: .25em;
    font-weight: normal; }
    .topics .title span a {
      margin: 0 .5em; }
  .topics .featured {
    position: relative;
    margin-bottom: 15px; }
    @media screen and (min-width: 50em) {
      .topics .featured {
        float: left;
        width: 48.75%; } }
    @media screen and (min-width: 62.5em) {
      .topics .featured {
        float: left;
        width: 63.33%; } }
    .topics .featured figure {
      position: relative;
      overflow: hidden;
      height: 270px;
      background-color: #303040; }
      .topics .featured figure img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5;
        position: absolute;
        left: 50%;
        margin-left: -270px;
        width: 540px;
        max-width: none; }
      @media screen and (min-width: 37.5em) {
        .topics .featured figure {
          height: 360px; }
          .topics .featured figure img {
            width: 720px;
            margin-left: -360px; } }
      @media screen and (min-width: 50em) {
        .topics .featured figure {
          height: 405px; }
          .topics .featured figure img {
            width: 720px;
            margin-left: -360px; } }
    .topics .featured .summary {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDMwNDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(48, 48, 64, 0.75)));
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(48, 48, 64, 0.75));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(48, 48, 64, 0.75));
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(48, 48, 64, 0.75));
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 2em 1em;
      color: #fff; }
      @media screen and (min-width: 37.5em) {
        .topics .featured .summary {
          padding: 0 3em 1.5em; } }
      .topics .featured .summary h3 {
        margin: .5em 0; }
      .topics .featured .summary .meta {
        font-size: 14px;
        font-size: 1.4rem;
        list-style: none;
        margin: 1.5em 0 0; }
        .topics .featured .summary .meta li {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline; }
          .topics .featured .summary .meta li:before {
            content: '\007C';
            margin: 0 1em 0 .75em; }
          .topics .featured .summary .meta li:first-child:before {
            display: none; }
    .topics .featured i {
      margin-right: .25em; }
      .topics .featured i img {
        margin-bottom: -2px; }

.recent-topics {
  margin-bottom: 0 0 15px; }
  @media screen and (min-width: 37.5em) {
    .recent-topics {
      width: 102.5%;
      margin-left: -2.5%; } }
  @media screen and (min-width: 50em) {
    .recent-topics {
      float: right;
      width: 48.75%; } }
  @media screen and (min-width: 62.5em) {
    .recent-topics {
      float: right;
      width: 33.33%; } }
  .recent-topics li {
    margin-bottom: 15px; }
    @media screen and (min-width: 37.5em) {
      .recent-topics li {
        float: left;
        width: 47.5%;
        margin-left: 2.5%; } }
    @media screen and (min-width: 50em) {
      .recent-topics li {
        float: none;
        width: auto;
        margin-left: 0; } }
    .recent-topics li figure {
      float: left;
      width: 90px; }
    .recent-topics li .summary {
      height: 90px;
      margin-left: 90px;
      padding: 1em 2em;
      border-left: none;
      white-space: nowrap; }
      @media screen and (min-width: 37.5em) {
        .recent-topics li .summary {
          padding: 1em 1.5em 0; } }
      .recent-topics li .summary .meta {
        font-size: 12px;
        font-size: 1.2rem;
        list-style: none;
        margin: .5em 0 0; }
        .recent-topics li .summary .meta li {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          float: none;
          width: auto;
          margin: 0; }
          .recent-topics li .summary .meta li:before {
            content: '\007C';
            margin: 0 1em 0 .75em; }
          .recent-topics li .summary .meta li:first-child:before {
            display: none; }
    .recent-topics li p {
      white-space: nowrap; }

section.films {
  padding-top: 6em;
  background-color: #fff; }

.recent-films {
  width: 105%;
  margin: 0 0 15px -5%; }
  @media screen and (min-width: 50em) {
    .recent-films {
      width: 102.5%;
      margin-left: -2.5%; } }
  .recent-films li {
    float: left;
    width: 45%;
    margin: 0 0 5% 5%; }
    @media screen and (min-width: 50em) {
      .recent-films li {
        width: 22.5%;
        margin-left: 2.5%;
        margin-bottom: 0; } }
    .recent-films li .summary {
      padding: 1em 1.5em; }

section.topics .inner,
section.films .inner {
  position: relative; }
section.topics .button,
section.films .button {
  clear: both; }
  @media screen and (min-width: 50em) {
    section.topics .button,
    section.films .button {
      font-size: 14px;
      font-size: 1.4rem;
      position: absolute;
      top: -5px;
      right: 0;
      width: auto; } }

/**************************************************
 BASIC PAGE STYLES
**************************************************/
.single {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  -moz-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  overflow: hidden;
  background-color: #303040; }
  .single article {
    padding: 1.5em 1.5em 3em;
    background-color: #fff; }
    @media screen and (min-width: 37.5em) {
      .single article {
        padding: 3em 3em 6em; } }
    @media screen and (min-width: 50em) {
      .single article {
        float: left;
        width: 60%;
        padding-right: 4.5em; } }
    @media screen and (min-width: 62.5em) {
      .single article {
        width: 70%; } }
    .single article header {
      margin-bottom: 1.5em;
      padding: 1.5em 0;
      border-bottom: 1px solid #d9d9d1; }
      @media screen and (min-width: 37.5em) {
        .single article header {
          margin-bottom: 3em;
          padding-bottom: 3em; } }
      .single article header h1 {
        margin: 0; }
      .single article header h5 {
        margin-bottom: 0; }
      .single article header span {
        color: #918a98; }
    .single article p {
      max-width: 36em; }
  .single aside {
    padding: 3em 1.5em;
    color: #fff; }
    @media screen and (min-width: 37.5em) {
      .single aside {
        padding: 3em; } }
    @media screen and (min-width: 50em) {
      .single aside {
        float: right;
        width: 40%; } }
    @media screen and (min-width: 62.5em) {
      .single aside {
        width: 30%; } }
    .single aside h4 {
      margin: 0 0 1em;
      color: #fff;
      text-transform: uppercase; }
    .single aside p {
      font-size: 14px;
      font-size: 1.4rem; }
    .single aside form {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-top: 3em;
      padding: 3em 0 0;
      background-color: transparent;
      border-top: 1px solid #2d9099; }
      .single aside form h5 {
        font-size: 14px;
        font-size: 1.4rem;
        color: #fff;
        text-transform: uppercase; }
      .single aside form input, .single aside form textarea {
        border: none; }
      .single aside form input[type="submit"] {
        background-color: #2d9099; }
        .single aside form input[type="submit"]:hover, .single aside form input[type="submit"]:focus {
          background-color: #277d85; }

/**************************************************
 THOUGHTS PAGE STYLES
**************************************************/
.home-feed .inner,
.thoughts-feed .inner,
.easter-eggs-feed .inner {
  max-width: 720px; }
.home-feed article,
.thoughts-feed article,
.easter-eggs-feed article {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  -moz-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  overflow: hidden;
  margin-bottom: 3em;
  background-color: #fff; }
  @media screen and (min-width: 50em) {
    .home-feed article,
    .thoughts-feed article,
    .easter-eggs-feed article {
      margin-bottom: 4.5em; } }
.home-feed h6,
.thoughts-feed h6,
.easter-eggs-feed h6 {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: 1em 1.5em;
  background-color: #732d55;
  color: #fff; }
.home-feed .summary,
.thoughts-feed .summary,
.easter-eggs-feed .summary {
  padding: 1.5em; }
  @media screen and (min-width: 37.5em) {
    .home-feed .summary,
    .thoughts-feed .summary,
    .easter-eggs-feed .summary {
      padding: 3em; } }
  .home-feed .summary h2,
  .thoughts-feed .summary h2,
  .easter-eggs-feed .summary h2 {
    margin: 0 0 .5em; }
.home-feed footer,
.thoughts-feed footer,
.easter-eggs-feed footer {
  padding: 1em 2em;
  background-color: #f0f0ed;
  text-align: right; }
  @media screen and (min-width: 37.5em) {
    .home-feed footer,
    .thoughts-feed footer,
    .easter-eggs-feed footer {
      padding-left: 3em;
      padding-right: 3em; } }
  .home-feed footer p,
  .thoughts-feed footer p,
  .easter-eggs-feed footer p {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    color: #d9d9d1; }
  .home-feed footer span,
  .thoughts-feed footer span,
  .easter-eggs-feed footer span {
    margin: .5em; }
  .home-feed footer a,
  .thoughts-feed footer a,
  .easter-eggs-feed footer a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    color: #732d55; }
    .home-feed footer a svg,
    .thoughts-feed footer a svg,
    .easter-eggs-feed footer a svg {
      fill: #732d55; }
    .home-feed footer a:hover, .home-feed footer a:focus,
    .thoughts-feed footer a:hover,
    .thoughts-feed footer a:focus,
    .easter-eggs-feed footer a:hover,
    .easter-eggs-feed footer a:focus {
      color: #4e1f3a; }
      .home-feed footer a:hover svg, .home-feed footer a:focus svg,
      .thoughts-feed footer a:hover svg,
      .thoughts-feed footer a:focus svg,
      .easter-eggs-feed footer a:hover svg,
      .easter-eggs-feed footer a:focus svg {
        fill: #4e1f3a; }
@media screen and (min-width: 37.5em) {
  .home-feed .qanda h2,
  .thoughts-feed .qanda h2,
  .easter-eggs-feed .qanda h2 {
    font-size: 36px;
    font-size: 3.6rem; } }

/**************************************************
 FEATURES PAGE STYLES
**************************************************/
.single.thoughts .article-image,
.single.easter-eggs .article-image {
  position: relative;
  overflow: hidden;
  height: 240px;
  background-color: #303040; }
  .single.thoughts .article-image img,
  .single.easter-eggs .article-image img {
    position: absolute;
    left: 50%;
    width: 720px;
    margin-left: -360px;
    max-width: none; }
  @media screen and (min-width: 50em) {
    .single.thoughts .article-image,
    .single.easter-eggs .article-image {
      height: 300px; }
      .single.thoughts .article-image img,
      .single.easter-eggs .article-image img {
        width: 900px;
        margin-left: -450px; } }
  @media screen and (min-width: 50em) {
    .single.thoughts .article-image,
    .single.easter-eggs .article-image {
      height: 360px; }
      .single.thoughts .article-image img,
      .single.easter-eggs .article-image img {
        width: 1080px;
        margin-left: -540px; } }
.single.thoughts footer,
.single.easter-eggs footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid #d9d9d1; }
  @media screen and (min-width: 37.5em) {
    .single.thoughts footer,
    .single.easter-eggs footer {
      margin-top: 6em;
      padding-top: 3em; } }
.single.thoughts .tags,
.single.easter-eggs .tags {
  list-style: none;
  margin: 0; }
  .single.thoughts .tags li,
  .single.easter-eggs .tags li {
    display: inline;
    margin-right: .25em; }
  .single.thoughts .tags li:after,
  .single.easter-eggs .tags li:after {
    content: ","; }
  .single.thoughts .tags li:last-child:after,
  .single.easter-eggs .tags li:last-child:after {
    content: none; }
.single.thoughts .related,
.single.easter-eggs .related {
  padding-top: 3em;
  border-top: 1px solid #2d9099; }
  .single.thoughts .related ul,
  .single.easter-eggs .related ul {
    list-style: none;
    margin: 1em 0 0; }
  .single.thoughts .related li,
  .single.easter-eggs .related li {
    font-size: 10px;
    font-size: 1rem;
    margin-bottom: 1.5em; }
  .single.thoughts .related a,
  .single.easter-eggs .related a {
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    display: block;
    padding: 1.5em;
    background-color: #fff; }
    .single.thoughts .related a h5,
    .single.easter-eggs .related a h5 {
      margin: 0 0 .5em;
      padding: 0;
      border-top: none; }
    .single.thoughts .related a p,
    .single.easter-eggs .related a p {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0 0 .5em;
      color: #303040; }
    .single.thoughts .related a .meta,
    .single.easter-eggs .related a .meta {
      margin: 1em 0 0; }
      .single.thoughts .related a .meta svg,
      .single.easter-eggs .related a .meta svg {
        fill: #303040; }
    .single.thoughts .related a:hover, .single.thoughts .related a:focus,
    .single.easter-eggs .related a:hover,
    .single.easter-eggs .related a:focus {
      background-color: #fafdfe; }
      .single.thoughts .related a:hover h5, .single.thoughts .related a:hover p, .single.thoughts .related a:focus h5, .single.thoughts .related a:focus p,
      .single.easter-eggs .related a:hover h5,
      .single.easter-eggs .related a:hover p,
      .single.easter-eggs .related a:focus h5,
      .single.easter-eggs .related a:focus p {
        color: #2d9099; }
      .single.thoughts .related a:hover svg, .single.thoughts .related a:focus svg,
      .single.easter-eggs .related a:hover svg,
      .single.easter-eggs .related a:focus svg {
        fill: #2d9099; }

.share-links {
  margin-bottom: 2em; }
  .share-links ul {
    overflow: hidden;
    list-style: none;
    margin: 1em 0 0; }
  .share-links li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 10px;
    font-size: 1rem;
    margin: 0 .5em 0 0; }
  .share-links a {
    display: block; }
    .share-links a:hover svg, .share-links a:focus svg {
      fill: #918a98; }
  .share-links svg {
    fill: #fff;
    height: 2.5em;
    width: 2.5em; }

.discussion {
  clear: both;
  padding: 3em 1.5em;
  background-color: #732d55;
  color: #fff; }
  @media screen and (min-width: 37.5em) {
    .discussion {
      padding: 3em; } }
  .discussion h1 {
    margin: 0 0 1em;
    color: #fff; }

/**************************************************
 FILM LIST PAGE STYLES
**************************************************/
.films-list .inner {
  max-width: 900px; }
.films-list ol {
  width: 105%;
  margin: 0 0 15px -5%; }
  @media screen and (min-width: 37.5em) {
    .films-list ol {
      width: 103.33%;
      margin-left: -3.33%; } }
  @media screen and (min-width: 37.5em) {
    .films-list ol {
      width: 102.5%;
      margin-left: -2.5%; } }
.films-list li {
  float: left;
  width: 45%;
  margin: 0 0 5% 5%; }
  @media screen and (min-width: 37.5em) {
    .films-list li {
      width: 30%;
      margin-left: 3.33%;
      margin-bottom: 3.33%; } }
  @media screen and (min-width: 50em) {
    .films-list li {
      width: 22.5%;
      margin-left: 2.5%;
      margin-bottom: 2.5%; } }

/**************************************************
 FILM PAGE STYLES
**************************************************/
.media-article {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  -moz-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  box-shadow: 0px 0px 8px rgba(48, 48, 64, 0.25);
  overflow: hidden;
  background-color: #303040; }
  .media-article header {
    padding: 1.5em;
    background-color: #fff; }
    @media screen and (min-width: 50em) {
      .media-article header {
        float: right;
        width: 70%;
        padding: 3em;
        border-bottom: 1px solid #d9d9d1; } }
    @media screen and (min-width: 62.5em) {
      .media-article header {
        width: 75%; } }
    .media-article header h1 {
      margin: 0; }
  @media screen and (min-width: 50em) {
    .media-article aside {
      float: left;
      width: 30%; } }
  @media screen and (min-width: 62.5em) {
    .media-article aside {
      width: 25%; } }
  .media-article aside.meta-details {
    overflow: hidden;
    background-color: #f0f0ed; }
    .media-article aside.meta-details figure {
      background-color: #918a98; }
      @media screen and (min-width: 37.5em) {
        .media-article aside.meta-details figure {
          float: left;
          width: 25%; } }
      @media screen and (min-width: 50em) {
        .media-article aside.meta-details figure {
          float: none;
          width: auto; } }
      .media-article aside.meta-details figure img {
        display: block;
        width: auto;
        margin: 0 auto; }
    .media-article aside.meta-details ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      @media screen and (min-width: 37.5em) {
        .media-article aside.meta-details ul {
          margin-left: 25%; } }
      @media screen and (min-width: 50em) {
        .media-article aside.meta-details ul {
          margin-left: 0; } }
    .media-article aside.meta-details li {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0;
      padding: 1em;
      border-top: 1px solid #d9d9d1; }
      .media-article aside.meta-details li:first-child {
        border-top: none; }
      @media screen and (min-width: 37.5em) {
        .media-article aside.meta-details li {
          font-size: 14px;
          font-size: 1.4rem; } }
      @media screen and (min-width: 50em) {
        .media-article aside.meta-details li {
          font-size: 12px;
          font-size: 1.2rem; } }
  .media-article .article-body {
    background-color: #fff; }
    @media screen and (min-width: 50em) {
      .media-article .article-body {
        float: right;
        width: 70%; } }
    @media screen and (min-width: 62.5em) {
      .media-article .article-body {
        width: 75%; } }
  .media-article article {
    padding: 1.5em; }
    @media screen and (min-width: 37.5em) {
      .media-article article {
        padding: 3em; } }
  .media-article .questions,
  .media-article .related-links,
  .media-article .submit-question {
    overflow: hidden;
    padding: 3em 1.5em; }
    @media screen and (min-width: 37.5em) {
      .media-article .questions,
      .media-article .related-links,
      .media-article .submit-question {
        padding: 3em; } }
    .media-article .questions h2,
    .media-article .related-links h2,
    .media-article .submit-question h2 {
      margin: 0 0 1em; }
  .media-article .questions ul,
  .media-article .related-links ul {
    list-style: none;
    margin: 0; }
  .media-article .questions h2,
  .media-article .submit-question h2 {
    color: #fff; }
  .media-article .questions {
    background-color: #918a98; }
    .media-article .questions li {
      font-size: 10px;
      font-size: 1rem;
      margin: 1em 0 0; }
      .media-article .questions li h3 {
        margin: 0 0 .25em;
        line-height: 1.2; }
      .media-article .questions li p {
        font-size: 14px;
        font-size: 1.4rem;
        margin: 0; }
      .media-article .questions li h3, .media-article .questions li p {
        color: #732d55; }
      .media-article .questions li svg {
        fill: #732d55; }
      .media-article .questions li a {
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem;
        display: block;
        padding: 1.5em;
        background-color: #fff; }
        .media-article .questions li a:hover, .media-article .questions li a:focus {
          background-color: #fafdfe; }
          .media-article .questions li a:hover h3, .media-article .questions li a:hover p, .media-article .questions li a:focus h3, .media-article .questions li a:focus p {
            color: #2d9099; }
          .media-article .questions li a:hover svg, .media-article .questions li a:focus svg {
            fill: #2d9099; }
  .media-article .related-links {
    background-color: #f0f0ed; }
    @media screen and (min-width: 37.5em) {
      .media-article .related-links ul {
        width: 102%;
        margin-left: -2%; } }
    .media-article .related-links li {
      font-size: 10px;
      font-size: 1rem;
      margin: 1em 0 0; }
      @media screen and (min-width: 37.5em) {
        .media-article .related-links li {
          float: left;
          width: 48%;
          margin: 0 0 2% 2%; }
          .media-article .related-links li:nth-child(odd) {
            clear: left; } }
      .media-article .related-links li h5 {
        margin: .25em 0 .75em;
        color: #732d55; }
      .media-article .related-links li p {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0;
        color: #303040; }
      .media-article .related-links li a {
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem;
        display: block;
        padding: 1.5em;
        background-color: #fff;
        border: 1px solid #d9d9d1; }
        .media-article .related-links li a:hover, .media-article .related-links li a:focus {
          background-color: #fafdfe;
          border-color: #2d9099; }
          .media-article .related-links li a:hover h5, .media-article .related-links li a:hover p, .media-article .related-links li a:focus h5, .media-article .related-links li a:focus p {
            color: #2d9099; }
  .media-article .submit-question {
    background-color: #732d55; }
    @media screen and (min-width: 50em) {
      .media-article .submit-question {
        padding-bottom: 6em; } }
    .media-article .submit-question p {
      color: #fff; }
    .media-article .submit-question form {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 1em 0;
      background-color: transparent; }
    .media-article .submit-question textarea {
      border: none; }
    .media-article .submit-question input[type="submit"] {
      margin-top: 0; }
      @media screen and (min-width: 50em) {
        .media-article .submit-question input[type="submit"] {
          width: 50%; } }
  .media-article .related-films {
    padding: 3em 1.5em; }
    @media screen and (min-width: 37.5em) {
      .media-article .related-films {
        padding: 3em; } }
    .media-article .related-films h4 {
      margin: 0 0 1em;
      color: #fff;
      text-transform: uppercase; }
    .media-article .related-films ul {
      width: 105%;
      margin: 0 0 0 -5%; }
      @media screen and (min-width: 50em) {
        .media-article .related-films ul {
          width: auto;
          margin-left: 0; } }
      .media-article .related-films ul li {
        float: left;
        width: 45%;
        margin: 0 0 5% 5%; }
        @media screen and (min-width: 50em) {
          .media-article .related-films ul li {
            float: none;
            width: auto;
            margin: 0 0 1.5em 0; } }
        .media-article .related-films ul li .summary {
          padding: 1em 1.5em; }
          @media screen and (min-width: 62.5em) {
            .media-article .related-films ul li .summary {
              padding: .5em 1em; }
              .media-article .related-films ul li .summary h4 {
                font-size: 14px;
                font-size: 1.4rem; } }

/**************************************************
 USER PAGE STYLES
**************************************************/
#user .main h1 {
  text-align: center; }
#user .main form {
  max-width: 36em;
  margin: 0 auto; }
@media screen and (min-width: 50em) {
  #user .main .login,
  #user .main .sign-up {
    float: left;
    width: 50%;
    padding: 0 2.5%; } }
#user .main .login {
  padding-bottom: 6em;
  margin-bottom: 6em;
  border-bottom: 1px solid #303040; }
  @media screen and (min-width: 50em) {
    #user .main .login {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none; } }
