{exp:template_morsels:fetch
  name="head_entry"
  meta_url="{current_url}"
  body_id="ask"
 }
{exp:template_morsels:fetch name="header"}

<section class="main">
  <article class="submit-form">
    {exp:channel:entries
      channel="pages"
	  limit="1"
	  cache="yes"
	  refresh="1440"
    }
    <div class="form-top">
      <header>
        <h1>{title}</h1>
      </header>
      {page_body}
    </div>
    {/exp:channel:entries}
    {exp:freeform:form
      form_name="ask"
      form:class="ask-form"
      required="name|email|related_media|user_question"
      require_captcha="yes"
      inline_errors="yes"
      return="question-received"
    }
      {if freeform:general_errors || freeform:field_errors}
      <div class="errors">
        <h4>The form contains the following errors:</h4>
        <ul>
          {if freeform:error:name}<li>Name is required.</li>{/if}
          {if freeform:error:email}<li>Email Address is required.</li>{/if}
          {if freeform:error:related_media}<li>Related Film/TV Show is required.</li>{/if}
          {if freeform:error:user_question}<li>Question is required.</li>{/if}
          {freeform:general_errors}<li>{freeform:error_message}</li>{/freeform:general_errors}
        </ul>
      </div>
      {/if}
      <div class="half first">
        <h5><label for="name">Name</label></h5>
        {freeform:field:name}
      </div>
      <div class="half last">
        <h5><label for="email">Email Address</label></h5>
        {freeform:field:email}
      </div>
      <h5><label for="related_media">Film/TV Show Related to this Question</label></h5>
      {freeform:field:related_media}
      <h5><label for="user_question">{freeform:label:user_question}</label></h5>
      {freeform:field:user_question}
      {if freeform:captcha}
      <div class="captcha-box">
        <p><label for="captcha">Please enter the word you see in the image below</label></p>
        <div class="captcha-field">
          {freeform:captcha}
          <input type="text" name="captcha">
        </div>
      </div>
      {/if}
      <input type="submit" name="submit" value="Submit" />
    {/exp:freeform:form}    
  </article>
</section>

{exp:template_morsels:fetch name="foot"}