{exp:template_morsels:fetch
  name="head_landing"
  meta_title="Question Received | {site_name}"
  meta_description="{exp:low_variables:single var='low_home_seodescription'}"
  meta_url="{current_url}"
  body_id="message"
 }
{exp:template_morsels:fetch name="header"}

<section class="main">
  <div class="inner">
    <article class="message">
      <h2>We Received Your Question</h2>
      {exp:low_variables:single var='low_message_asked'}
    </article>
  </div>
</section>

{exp:template_morsels:fetch name="foot"}