/**************************************************
 SITE SPECIFIC VARIABLES
**************************************************/

$base-size: 10;
$side-padding: 7%;
$fixed-top-padding: 15em;

$down-triangle: '\25BC';
$up-triangle: '\25B2';
$vertical-bar: '\007C';