/**************************************************
 SITE SPECIFIC VARIABLES
**************************************************/

$base-size: 10;
$side-padding: 5%;
$fixed-top-padding: 15em;

$comma: '\002C';
$down-triangle: '\25BC';
$up-triangle: '\25B2';
$vertical-bar: '\007C';