HEADER LOW SEARCH CODE

<header class="site-header">
  <div class="header-top inner">
    {exp:template_morsels:escape}
    {exp:low_search:form 
      form_class="search-bar"
    }
      <input type="text" name="keywords" id="keywords" value="" placeholder="Search by film title, genre, director&hellip;" />
      <button>
        <span>Search</span>
        <svg viewBox="0 0 20 20" class="icon search-icon"><use xlink:href="#search-icon"></use></svg>
      </button>
    {/exp:low_search:form}
    {/exp:template_morsels:escape}
    <div class="logo-group">
      <h1><a href="{path='site_index'}">ScreenPrism</a></h1>
      <p class="tagline">{exp:low_variables:single var='low_site_tagline'}</p>
    </div>
  </div>
  <div class="header-bottom">
    <div class="inner">
      <nav>
        <ol class="site-nav">
          <li class="insights"><a href="{path='insights'}">Insights</a></li>
          <li class="film"><a href="{path='film'}">Film</a></li>
          <li class="tv"><a href="{path='tv'}">TV</a></li>
          <li class="ask"><a href="{path='ask'}">Ask</a></li>
          <li class="about"><a href="{path='about'}">About</a></li>
          <li class="subscribe"><a href="#mailing-list">Mailing List</a></li>
        </ol>
      </nav>
      <div class="header-links">
        <div class="mailing-list">
          <a href="#mailing-list">Mailing List</a>
          <div class="form-wrapper">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="//screenprism.us11.list-manage.com/subscribe/post?u=11bbbde22831d1d4fe52c1860&amp;id=d5c40c709a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <h6>Join Our Mailing List</h6>
                <div id="mc_embed_signup_scroll">
                  <input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_11bbbde22831d1d4fe52c1860_d5c40c709a" tabindex="-1" value="">
                  </div>
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->            
          </div>
        </div>
        <ol class="social-links">
          {exp:low_variables:pair var="low_facebook_link"}
            {if low_facebook_link != ""}
            <li class="facebook">
              <a href="{low_facebook_link}">
                <svg viewBox="0 0 20 20" class="icon facebook-icon">
                  <use xlink:href="#facebook-icon"></use>
                </svg>
              </a>
            </li>
            {/if}
          {/exp:low_variables:pair}
          {exp:low_variables:pair var="low_twitter_link"}
            {if low_twitter_link != ""}
            <li class="twitter">
              <a href="{low_twitter_link}">
                <svg viewBox="0 0 20 20" class="icon twitter-icon">
                  <use xlink:href="#twitter-icon"></use>
                </svg>
              </a>
            </li>
            {/if}
          {/exp:low_variables:pair}
          {exp:low_variables:pair var="low_youtube_link"}
            {if low_youtube_link != ""}
            <li class="youtube">
              <a href="{low_youtube_link}">
                <svg viewBox="0 0 22 20" class="icon youtube-icon">
                  <use xlink:href="#youtube-icon"></use>
                </svg>
              </a>
            </li>
            {/if}
          {/exp:low_variables:pair}
          {exp:low_variables:pair var="low_tumblr_link"}
            {if low_tumblr_link != ""}
            <li class="tumblr">
              <a href="{low_tumblr_link}">
                <svg viewBox="0 0 20 20" class="icon tumblr-icon">
                  <use xlink:href="#tumblr-icon"></use>
                </svg>
              </a>
            </li>
            {/if}
          {/exp:low_variables:pair}
          {exp:low_variables:pair var="low_pinterest_link"}
            {if low_pinterest_link != ""}
            <li class="pinterest">
              <a href="{low_pinterest_link}">
                <svg viewBox="0 0 20 20" class="icon pinterest-icon">
                  <use xlink:href="#pinterest-icon"></use>
                </svg>
              </a>
            </li>
            {/if}
          {/exp:low_variables:pair}
          {exp:low_variables:pair var="low_instagram_link"}
            {if low_instagram_link != ""}
            <li class="instagram">
              <a href="{low_instagram_link}">
                <svg viewBox="0 0 20 20" class="icon instagram-icon">
                  <use xlink:href="#instagram-icon"></use>
                </svg>
              </a>
            </li>
            {/if}
          {/exp:low_variables:pair}
        </ol>
      </div>
    </div>
  </div>
</header>

<script type="text/javascript">
window.onload = function () {

  var inputField = $('#keywords');
  inputField.on('keyup', function () {
    if ( $(this).is(':focus') && this.value.length > 2) {
      console.log('at least three characters in focussed field');
    }
  });

};

</script>


