<!DOCTYPE html>

<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9 ]><html class="no-js ie ltie9 ltie10" lang="en"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie ie9 ltie10"> <![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>

  <meta charset="utf-8">
  
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="false" http-equiv="imagetoolbar">
  <meta content="on" http-equiv="cleartype">
  
  <meta content="True" name="HandheldFriendly">
  <meta content="320" name="MobileOptimized">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>{meta_title} | {site_name}</title>
  
  <meta content="{meta_description}" name="description">
  <meta content="{site_name}" name="author">

  <meta content="{meta_title} | {site_name}" name="DC.title">
  <meta content="{meta_description}" name="DC.subject">
  <meta content="{site_name}" name="DC.creator">
  
  <meta content="{site_url}assets/img/fav/facebook.png" property="og:image">
  <meta content="{meta_title} | {site_name}" property="og:title">
  <meta content="{meta_description}" property="og:description">
  <meta content="{meta_url}" property="og:url">
  
  <link content="{meta_url}" rel="canonical">
  
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,400italic,700,700italic|Oswald:300" rel="stylesheet" type="text/css">
  <link href="{site_url}assets/css/style.css" rel="stylesheet" type="text/css">
  
  <script>
    var b = document.documentElement;
    b.setAttribute('data-useragent',  navigator.userAgent);
    b.setAttribute('data-platform', navigator.platform );
  </script>
  
  <script src="{site_url}assets/js/modernizr.js"></script>
  
  <link href="{site_url}assets/img/fav/apple-touch-icon-144.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="{site_url}assets/img/fav/apple-touch-icon-114.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="{site_url}assets/img/fav/apple-touch-icon-72.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="{site_url}assets/img/fav/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="{site_url}assets/img/fav/favicon.ico" rel="shortcut icon">
  
</head>

<body id="{body_id}">
{svg_sprite}