<section class="temp-cta">
  <div class="inner">
    <p><a href="{path='ask'}"><span class="first-word">Ask</span> a Question</a></p>
    <p><a href="#mailing-list">Join Our Mailing List</a></p>
  </div>
</section>

<section class="call-out">
  <div class="inner">
    <p>{exp:low_variables:single var="low_home_text"}</p>
  </div>
</section>

<section class="popular">
  <div class="inner">
    {exp:low_variables:parse}
    {exp:channel:entries channel="articles" limit="5" fixed_order="{low_home_featured}" cache="yes" refresh="1440"}
    {if count == 1}
    <article class="featured {categories limit="1"}{category_url_title}{/categories}">
      <a href="{url_title_path='insights/article'}">
        {article_image}
        <figure>
          <img src="{url:800x450}" alt="{alt_text}">
        </figure>
        {/article_image}
        <div class="summary">
          <h3>{title}</h3>
          <p>{article_summary}</p>
          <p class="meta">{categories}{category_name}{/categories} <span class="divider">|</span> <svg viewBox="0 0 20 20" class="icon comment-icon"><use xlink:href="#comment-icon"></use></svg>  <span class="disqus-comment-count" data-disqus-url="{url_title_path='insights/article'}">0</span></p>
          {article_related_media}
          <h6>{title}</h6>
          {/article_related_media}
        </div>
      </a>
    </article>
    <ol class="article-list">
    {if:else}
      <li class="{categories limit="1"}{category_url_title}{/categories}">
        <a href="{url_title_path='insights/article'}">
          {article_image}
          <figure>
            <img src="{url:120x120}" alt="{alt_text}">
          </figure>
          {/article_image}
          <div class="summary">
            <h5>{title}</h5>
            <p class="meta">{categories}{category_name}{/categories} <span class="divider">|</span> <svg viewBox="0 0 20 20" class="icon comment-icon"><use xlink:href="#comment-icon"></use></svg>  <span class="disqus-comment-count" data-disqus-url="{url_title_path='insights/article'}">0</span></p>
            {article_related_media}
            <h6>{title}</h6>
            {/article_related_media}
          </div>
        </a>
      </li>
    {/if}
    {if count == total_results}</ol>{/if}
    {/exp:channel:entries}
    {/exp:low_variables:parse}
  </div>
</section>