/**************************************************
 COLORS
**************************************************/

$dk-blue: #225873;
$md-blue: #4d99bf;
$lt-blue: #7ec3e6;
$x-lt-blue: #cee6f2;

$dk-gray: #2e2e2e;
$md-gray: #666666;
$lt-gray: #bfbfbf;
$x-lt-gray: #f5f5f5;
$white: #ffffff;

$red: #e66045;

$cyan: #06acff;
$magenta: #f7007c;
$yellow: #ffec00;
$black: #000;

$deep-blue: #06017c;
$green: #0c9f01;

/**************************************************
 COLORS IN USE
**************************************************/

// Base Colors

$selection-text: $white;
$selection-bg: $magenta;

$body-text: $black;
$body-bg: $white;

$headline-color: $cyan;
$subheadline-color: $deep-blue;

$link-color: $cyan;
$link-hover: darken($link-color,10%);

$border-color: $x-lt-gray;

// Button Colors

$button-text: $white;
$button-bg: $cyan;
$button-hover: darken($button-bg,10%);

$load-button-bg: $deep-blue;
$load-button-hover: darken($load-button-bg,10%);

// Form Colors

$form-bg: $white;
$form-label-color: $black;
$form-field-color: $white;
$form-field-border: darken($form-bg,15%);
$form-field-focus: lighten($cyan, 45%);
$form-button-color: $cyan;
$form-button-hover: darken($form-button-color,10%);

$form-error-bg: lighten($red,35%);
$form-error-text: $red;
$form-error-border: $red;

$chosen-select-bg: $white;
$chosen-select-border: $lt-gray;
$chosen-select-text: $black;
$chosen-select-disabled: $lt-gray;
$chosen-select-selection-bg: $cyan;
$chosen-select-selection-text: $white;
$chosen-select-noresults-bg: $x-lt-gray;
$chosen-select-noresults-text: $dk-gray;

// Header Colors

$header-bg: $cyan;
$header-shadow: transparentize($black,0.5);

$header-button-text: $white;
$header-button-bg: transparent;
$header-button-border: $white;
$header-button-hover-bg: $deep-blue;
$header-button-hover-border: $deep-blue;

$header-social-icon-color: $white;
$header-social-icon-hover: $deep-blue;

$nav-link-text: $white;
$nav-link-hover: $deep-blue;

$narrow-nav-text: $white;
$narrow-nav-bg: $deep-blue;

$search-input-bg: $white;
$search-button-bg: $deep-blue;
$search-button-text: $white;

// Footer Colors

$footer-text: $white;
$footer-bg: $black;
$footer-link: $white;
$footer-hover: $yellow;
$footer-icon: $white;
$footer-border: $cyan;

// Card Colors

$card-bg-color: $white;
$card-bg-hover: lighten($cyan,45%);
$card-image-bg: $magenta;
$card-link-color: $cyan;
$card-link-hover: $deep-blue;

// Module Colors

$module-bg: $white;
$module-header-bg: $magenta;
$module-header-text: $white;
$module-footer-bg: lighten($cyan, 45%);
$module-footer-link: $cyan;
$module-footer-hover: $deep-blue;

$module-aside-bg: $deep-blue;
$module-aside-text: $white;
$module-aside-button: $cyan;
$module-aside-border: lighten($module-aside-bg, 10%);
$module-aside-blocklink-bg: $white;
$module-aside-blocklink-hover: $deep-blue;
$module-aside-blocklink-bg-hover: lighten($cyan, 45%);

$discussion-module-bg: $black;
$discussion-module-headline: $white;
$discussion-module-text: $white;

// Media Article

$media-cover-bg: $deep-blue;
$media-details-bg: lighten($cyan, 45%);
$media-details-border: darken($media-details-bg,10%);
$media-subsection-headline: $white;
$media-link-block-bg: $white;
$media-link-block-text: $black;
$media-link-block-hover: $deep-blue;
$media-link-block-hover-bg: lighten($cyan, 45%);

$related-qanda-bg: $cyan;
$related-articles-bg: $yellow;
$related-articles-heading: $deep-blue;
$related-links-bg: darken($deep-blue, 10%);

$submit-question-bg: $magenta;
$submit-question-text: $white;
$submit-question-button: $deep-blue;

// Thoughts Article

$artice-image-bg: $deep-blue;
$share-icons-fill: $white;
$share-icons-hover: $yellow;

// Filters Bar

$filters-bar-bg: lighten($cyan,45%);
$filters-bar-text: $black;
$filters-bar-link-text: $white;
$filters-bar-link-bg: $cyan;
$filters-bar-link-hover: $deep-blue;
$filter-bar-link-active: $magenta;

// Home Page Colors

$call-out-bg: $deep-blue;
$call-out-text: $magenta;
$popular-posts-bg: $white;
$new-releases-bg: lighten($cyan, 45%);
$new-releases-heading: $white;

$section-heading-color: $black;