/**************************************************
 COLORS
**************************************************/

$dk-blue: #225873;
$md-blue: #4d99bf;
$lt-blue: #7ec3e6;
$x-lt-blue: #cee6f2;

$black: #1a1a1a;
$dk-gray: #2e2e2e;
$md-gray: #666666;
$lt-gray: #bfbfbf;
$x-lt-gray: #f5f5f5;
$white: #ffffff;

$red: #e66045;

/**************************************************
 COLORS IN USE
**************************************************/

// Base Colors

$selection-text: $white;
$selection-bg: $md-blue;

$body-text: $black;
$body-bg: #faf9f7;

$headline-color: #3f6273;
$subheadline-color: $lt-gray;

$link-color: $md-blue;
$link-hover: darken($link-color,10%);

$border-color: darken($x-lt-blue,10%);

// Button Colors

$button-text: $white;
$button-bg: $md-blue;
$button-hover: darken($button-bg,10%);

$load-button-bg: $dk-gray;
$load-button-hover: lighten($load-button-bg,10%);

// Form Colors

$form-bg: $white;
$form-label-color: $black;
$form-field-color: $white;
$form-field-border: darken($form-bg,15%);
$form-field-focus: $white;
$form-button-color: $md-blue;
$form-button-hover: darken($form-button-color,10%);

$form-error-bg: lighten($red,35%);
$form-error-text: $red;
$form-error-border: $red;

$chosen-select-bg: $white;
$chosen-select-border: $lt-gray;
$chosen-select-text: $black;
$chosen-select-disabled: $lt-gray;
$chosen-select-selection-bg: $md-blue;
$chosen-select-selection-text: $white;
$chosen-select-noresults-bg: $x-lt-gray;
$chosen-select-noresults-text: $dk-gray;

// Header Colors

$header-bg: $dk-gray;
$header-shadow: transparentize($black,0.5);

$header-button-text: $white;
$header-button-bg: transparent;
$header-button-border: $lt-gray;
$header-button-hover-text: $dk-blue;
$header-button-hover-bg: $x-lt-blue;
$header-button-hover-border: $x-lt-blue;

$header-social-icon-color: $lt-gray;
$header-social-icon-hover: $x-lt-blue;

$nav-bg: $md-blue;
$nav-link-text: $white;
$nav-link-hover: $lt-blue;

$narrow-nav-text: $dk-blue;
$narrow-nav-bg: $x-lt-blue;

$search-input-bg: $white;
$search-button-bg: $md-blue;
$search-button-text: $white;

// Footer Colors

$footer-text: $white;
$footer-bg: $dk-gray;
$footer-link: $x-lt-blue;
$footer-hover: $lt-blue;
$footer-icon: $lt-gray;
$footer-border: $lt-gray;

// Card Colors

$card-bg-color: $white;
$card-bg-hover: $md-blue;
$card-image-bg: $md-blue;
$card-link-color: $md-blue;
$card-link-hover: $dk-blue;

// Module Colors

$module-bg: $white;
$module-footer-bg: $x-lt-gray;
$module-header-bg: $dk-gray;
$module-header-text: $white;
$module-footer-link: $md-blue;
$module-footer-hover: $dk-blue;
$module-aside-bg: $dk-gray;
$module-aside-text: $white;
$module-aside-button: $md-blue;
$module-aside-border: $lt-blue;
$module-aside-blocklink-bg: $white;
$module-aside-blocklink-hover: $md-blue;
$module-aside-blocklink-bg-hover: $x-lt-blue;

$discussion-module-bg: $dk-blue;
$discussion-module-headline: $white;
$discussion-module-text: $white;

// Media Article

$media-cover-bg: $dk-blue;
$media-details-bg: $x-lt-blue;
$media-details-border: darken($media-details-bg,10%);
$media-subsection-headline: $white;
$media-link-block-bg: $white;
$media-link-block-text: $dk-gray;
$media-link-block-hover: $md-blue;
$media-link-block-hover-bg: $x-lt-blue;

$related-qanda-bg: $md-gray;
$related-articles-bg: $lt-blue;
$related-links-bg: $md-blue;

$submit-question-bg: $dk-blue;
$submit-question-text: $white;

// Thoughts Article

$artice-image-bg: $dk-blue;
$share-icons-fill: $lt-gray;
$share-icons-hover: $x-lt-blue;

// Filters Bar

$filters-bar-bg: $x-lt-gray;
$filters-bar-text: $dk-gray;
$filters-bar-link-text: $white;
$filters-bar-link-bg: $md-gray;
$filters-bar-link-hover: $dk-blue;
$filter-bar-link-active: $md-blue;

// Home Page Colors

$call-out-bg: $md-blue;
$call-out-text: $white;

$popular-posts-bg: $dk-blue;
$popular-figure-bg: $lt-gray;
$popular-summary-text: $white;
$popular-summary-bg: $dk-gray;
$popular-summary-bg-hover: $md-blue;

$recent-posts-bg: $white;