/**************************************************
 FONT STACKS
**************************************************/

$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif: Helmet, Freesans, sans-serif;
$monospace: "courier new", monospace, serif;

$oswald: "Oswald", $sans-serif;
$lato: "Lato", $sans-serif;
$merriweather: "Merriweather", $serif;

/**************************************************
 FONTS IN USE
**************************************************/

$body-font: $merriweather;
$headline-font: $oswald;
$subheadline-font: $lato;
$nav-font: $lato;
$button-font: $lato;
$label-font: $lato;
$code-font: $monospace;

$filters-font: $lato;
$by-line-font: $lato;