/**************************************************
 LIST PAGE STYLES
**************************************************/

#features-list {
  .main {
    padding-top: 3em;
    .inner {
      max-width: 720px;
    }
    article {
      @include border-radius;
      margin-bottom: 3em;
      padding: 1.5em;
      background-color: $module-bg;
    }
    figure {
      margin: 0 0 3em;
    }
    h2 {
      margin: 0 0 .5em;
    }
    .meta {
      span {
        margin: 0 .5em;
      }
    }
  }
  .feature-qanda {
    h2 {
      @include font-size(30);
    }
  }
}

#films-list {
  .main {
    padding-top: 4em;
    .inner {
      max-width: 900px;
    }
    ol {
      @extend %card-styles;
      width: 105%;
      margin: 0 0 15px -5%;
      @include break-up($small){
        width: 103.33%;
        margin-left: -3.33%;
      }
      @include break-up($small){
        width: 102.5%;
        margin-left: -2.5%;
      }
    }
    li {
      @include float;
      width: 45%;
      margin: 0 0 5% 5%;
      @include break-up($small){
        width: 30%;
        margin-left: 3.33%;
        margin-bottom: 3.33%;
      }
      @include break-up($medium){
        width: 22.5%;
        margin-left: 2.5%;
        margin-bottom: 2.5%;
      }
      .summary {
        padding: 1em 1.5em;
      }
    }
  }
}


/* ----- List Filter Styles ----- */

.filters {
  padding: 1.5em $side-padding;
  background-color: $filters-bar-bg;
  @include break-up($medium){
    padding-top: $fixed-top-padding;
    padding-bottom: 2em;
  }
  p {
    @extend %site-column;
    @include font-size(14);
    margin: 0 auto;
    color: $filters-bar-text;
  }
  a {
    @include border-radius;
    margin-left: .25em;
    padding: .25em .5em;
    background-color: $filters-bar-link-bg;
    color: $filters-bar-link-text;
    &:hover,&:focus{background-color:$filters-bar-link-hover}
  }
}