/**************************************************
 LIST PAGE STYLES
**************************************************/

#features {
  .main {
    padding-top: 4em;
    @include break-up($medium){
      padding-top: 6em;
    }
    .inner {
      max-width: 720px;
    }
    article {
      margin-bottom: 6em;
      padding-bottom: 3em;
      border-bottom: 1px solid $border-color;
    }
    figure {
      margin: 0 0 3em;
    }
    h2 {
      margin: 0 0 .5em;
    }
    .meta {
      span {
        margin: 0 .5em;
      }
    }
  }
}


/* ----- List Filter Styles ----- */

.filters {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: $dk-gray;
  p {
    @extend %site-column;
    @include font-size(14);
    margin: 0 auto;
    color: $gray;
  }
  a {
    @include border-radius(.25em);
    padding: .25em .5em;
    background-color: $gray;
    color: $dk-gray;
    &:hover, 
    &:focus {
      background-color: $white;
    }
  }
}