/**************************************************
 USER PAGE STYLES
**************************************************/

#user {
  .main {
    h1 {
      text-align: center;
    }
    form {
      max-width: 360px;
      margin: 0 auto;
      padding: 1.5em 2em;
      background-color: $lt-gray;
      input {
        margin: .5em 0 1em;
      }
      input[type="submit"]{
        margin: 1.5em 0 .5em;
      }
    }
    .login, 
    .sign-up {
      @include break-up($medium){
        @include float;
        width: 50%;
        padding: 0 2.5%;
      }
    }
  }
}